NET/Claro.SIACU.ProxyService/Service References/SIACU.BusquedaLineaCliente/obtenerDatosClienteColiving.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/esb/message/BusquedaLineaClienteWS/obtenerDatosClienteColiving/v1/" xmlns:ressta="http://claro.com.pe/esb/data/commonBusinessEntities/responseStatus/v2/" xmlns:buslicli="http://claro.com.pe/esb/message/BusquedaLineaClienteWS/obtenerDatosClienteColiving/v1/" targetNamespace="http://claro.com.pe/esb/message/BusquedaLineaClienteWS/obtenerDatosClienteColiving/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/CommonBusinessEntities/ResponseStatus_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/responseStatus/v2/" />
  <xsd:element name="obtenerDatosClienteColivingMessageRequest" type="buslicli:obtenerDatosClienteColivingMessageRequestType" />
  <xsd:element name="obtenerDatosClienteColivingMessageResponse" type="buslicli:obtenerDatosClienteColivingMessageResponseType" />
  <xsd:complexType name="obtenerDatosClienteColivingMessageRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="numeroCuenta" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroLinea" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoDocumento">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2" />
            <xsd:enumeration value="" />
            <xsd:enumeration value="1" />
            <xsd:enumeration value="2" />
            <xsd:enumeration value="3" />
            <xsd:enumeration value="4" />
            <xsd:enumeration value="5" />
            <xsd:enumeration value="11" />
            <xsd:enumeration value="12" />
            <xsd:enumeration value="13" />
            <xsd:enumeration value="14" />
            <xsd:enumeration value="15" />
            <xsd:enumeration value="16" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="NroDocumento" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obtenerDatosClienteColivingMessageResponseType">
    <xsd:sequence>
      <xsd:element name="status" type="xsd:integer" />
      <xsd:element name="codeResponse" type="xsd:string" />
      <xsd:element name="descriptionResponse" type="xsd:string" />
      <xsd:element name="date" type="xsd:dateTime" />
      <xsd:element name="nombreCliente" type="xsd:string" />
      <xsd:element name="direccionCliente" type="xsd:string" />
      <xsd:element name="tipoDcto" type="xsd:string" />
      <xsd:element name="nroDocumento" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="subscriptionsPostPago" type="buslicli:subscriptionsPostPago" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="subscriptionsPrepago" type="buslicli:subscriptionsPrepago" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="subscriptionsPostPago">
    <xsd:sequence>
      <xsd:element name="codigoPlan" type="xsd:string" />
      <xsd:element name="customerId" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="nroContrato" type="xsd:string" />
      <xsd:element name="codigoTipoPlan" type="xsd:string" />
      <xsd:element name="codigoTipoCuenta" type="xsd:string" />
      <xsd:element name="tipoCuenta" type="xsd:string" />
      <xsd:element name="nroCuenta" type="xsd:string" />
      <xsd:element name="nroLinea" type="xsd:string" />
      <xsd:element name="modalidad" type="xsd:string" />
      <xsd:element name="estadoLinea" type="xsd:string" />
      <xsd:element name="plan" type="xsd:string" />
      <xsd:element name="OrigenInfoPost" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="subscriptionsPrepago">
    <xsd:sequence>
      <xsd:element name="modalidad" type="xsd:string" />
      <xsd:element name="tipoCuenta" type="xsd:string" />
      <xsd:element name="idCuenta" type="xsd:string" />
      <xsd:element name="NroLinea" type="xsd:string" />
      <xsd:element name="EstadoLinea" type="xsd:string" />
      <xsd:element name="plan" type="xsd:string" />
      <xsd:element name="OrigenInfoPre" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>