NET/Claro.SIACU.Web.WebApplication/Service References/ColivingService/ColivingService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Coliving.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Coliving.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfColivingParameters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColivingParameters" nillable="true" type="tns:ColivingParameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColivingParameters" nillable="true" type="tns:ArrayOfColivingParameters" />
  <xs:complexType name="ColivingParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Period" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value_C" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value_N" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColivingParameters" nillable="true" type="tns:ColivingParameters" />
</xs:schema>