NET/Claro.SIACU.Web.WebApplication/Service References/ColivingService/ColivingService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Coliving.getObtenerDatosClienteColiving" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Coliving.getObtenerDatosClienteColiving" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Coliving/ColivingService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ObtenerDatosClienteRequestColiving">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LineNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerDatosClienteRequestColiving" nillable="true" type="tns:ObtenerDatosClienteRequestColiving" />
  <xs:complexType name="ObtenerDatosClienteResponseColiving">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeResponse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescriptionDocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionResponse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscriptionsPostPaid" nillable="true" type="tns:ArrayOfSubscriptionPostPaidResponse" />
      <xs:element minOccurs="0" name="SubscriptionsPrepaid" nillable="true" type="tns:ArrayOfSubscriptionPrepaidResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenerDatosClienteResponseColiving" nillable="true" type="tns:ObtenerDatosClienteResponseColiving" />
  <xs:complexType name="ArrayOfSubscriptionPostPaidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionPostPaidResponse" nillable="true" type="tns:SubscriptionPostPaidResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionPostPaidResponse" nillable="true" type="tns:ArrayOfSubscriptionPostPaidResponse" />
  <xs:complexType name="SubscriptionPostPaidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code_AccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code_Plan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code_PlanType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MigrateOne" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrigenInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatePlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segment" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionPostPaidResponse" nillable="true" type="tns:SubscriptionPostPaidResponse" />
  <xs:complexType name="ArrayOfSubscriptionPrepaidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionPrepaidResponse" nillable="true" type="tns:SubscriptionPrepaidResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionPrepaidResponse" nillable="true" type="tns:ArrayOfSubscriptionPrepaidResponse" />
  <xs:complexType name="SubscriptionPrepaidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MigrateOne" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatePlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="origenInfoPre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionPrepaidResponse" nillable="true" type="tns:SubscriptionPrepaidResponse" />
</xs:schema>