NET/Claro.SIACU.ProxyService/Web References/CambioDatosSiacWS/CambioDatosSIACWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://claro.com.pe/eai/ws/postventa/cambiodatossiacws" xmlns:types="http://claro.com.pe/eai/ws/postventa/cambiodatossiacws/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="CambioDatosSIACWS" targetNamespace="http://claro.com.pe/eai/ws/postventa/cambiodatossiacws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/postventa/cambiodatossiacws" />
    <xsd:schema>
      <xsd:import schemaLocation="http://172.17.26.152:20000/CambioDatosSIACWS/ebsCambioDatosSIACSB11?xsd=2" namespace="http://claro.com.pe/eai/ws/postventa/cambiodatossiacws/types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="actualizarCambioDireccionRequestMsg">
    <wsdl:part name="request" element="types:actualizarCambioDireccionRequest" />
  </wsdl:message>
  <wsdl:message name="actualizarCambioDireccionResponseMsg">
    <wsdl:part name="response" element="types:actualizarCambioDireccionResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarDatosMenoresRequestMsg">
    <wsdl:part name="request" element="types:actualizarDatosMenoresRequest" />
  </wsdl:message>
  <wsdl:message name="actualizarDatosMenoresResponseMsg">
    <wsdl:part name="response" element="types:actualizarDatosMenoresResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarNombreClienteRequestMsg">
    <wsdl:part name="request" element="types:actualizarNombreClienteRequest" />
  </wsdl:message>
  <wsdl:message name="actualizarNombreClienteResponseMsg">
    <wsdl:part name="response" element="types:actualizarNombreClienteResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerDataHistoricaRequestMsg">
    <wsdl:part name="request" element="types:obtenerDataHistoricaRequest" />
  </wsdl:message>
  <wsdl:message name="obtenerDataHistoricaResponseMsg">
    <wsdl:part name="response" element="types:obtenerDataHistoricaResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarDatosClientePCLUBRequestMsg">
    <wsdl:part name="request" element="types:actualizarDatosClientePCLUBRequest" />
  </wsdl:message>
  <wsdl:message name="actualizarDatosClientePCLUBResponseMsg">
    <wsdl:part name="response" element="types:actualizarDatosClientePCLUBResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarClientesCLFRequestMsg">
    <wsdl:part name="request" element="types:actualizarClientesCLFRequest" />
  </wsdl:message>
  <wsdl:message name="actualizarClientesCLFResponseMsg">
    <wsdl:part name="response" element="types:actualizarClientesCLFResponse" />
  </wsdl:message>
  <wsdl:message name="registrarTransaccionSiacPoRequestMsg">
    <wsdl:part name="request" element="types:registrarTransaccionSiacPoRequest" />
  </wsdl:message>
  <wsdl:message name="registrarTransaccionSiacPoResponseMsg">
    <wsdl:part name="response" element="types:registrarTransaccionSiacPoResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerDataClientRequestMsg">
    <wsdl:part name="request" element="types:obtenerDataClientRequest" />
  </wsdl:message>
  <wsdl:message name="obtenerDataClientResponseMsg">
    <wsdl:part name="response" element="types:obtenerDataClientResponse" />
  </wsdl:message>
  <wsdl:portType name="CambioDatosSIACWSPortType">
    <wsdl:operation name="actualizarCambioDireccion">
      <wsdl:input message="tns:actualizarCambioDireccionRequestMsg" />
      <wsdl:output message="tns:actualizarCambioDireccionResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="actualizarDatosMenores">
      <wsdl:input message="tns:actualizarDatosMenoresRequestMsg" />
      <wsdl:output message="tns:actualizarDatosMenoresResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="actualizarNombreCliente">
      <wsdl:input message="tns:actualizarNombreClienteRequestMsg" />
      <wsdl:output message="tns:actualizarNombreClienteResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDataHistorica">
      <wsdl:input message="tns:obtenerDataHistoricaRequestMsg" />
      <wsdl:output message="tns:obtenerDataHistoricaResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="actualizarDatosClientePCLUB">
      <wsdl:input message="tns:actualizarDatosClientePCLUBRequestMsg" />
      <wsdl:output message="tns:actualizarDatosClientePCLUBResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="actualizarClientesCLF">
      <wsdl:input message="tns:actualizarClientesCLFRequestMsg" />
      <wsdl:output message="tns:actualizarClientesCLFResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="registrarTransaccionSiacPo">
      <wsdl:input message="tns:registrarTransaccionSiacPoRequestMsg" />
      <wsdl:output message="tns:registrarTransaccionSiacPoResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDataClient">
      <wsdl:input message="tns:obtenerDataClientRequestMsg" />
      <wsdl:output message="tns:obtenerDataClientResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CambioDatosSIACWSPortTypeSOAP11Binding" type="tns:CambioDatosSIACWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="actualizarCambioDireccion">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/actualizarcambiodireccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarDatosMenores">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/actualizardatosmenores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarNombreCliente">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/actualizarnombrecliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataHistorica">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/obtenerdatahistorica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarDatosClientePCLUB">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/actualizardatosclientepclub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarClientesCLF">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/actualizarclientesclf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarTransaccionSiacPo">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/registrartransaccionsiacpo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataClient">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/postventa/cambiodatossiacws/obtenerDataClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CambioDatosSIACWSPortTypeSOAP12Binding" type="tns:CambioDatosSIACWSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="actualizarCambioDireccion">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/actualizarcambiodireccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarDatosMenores">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/actualizardatosmenores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarNombreCliente">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/actualizarnombrecliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataHistorica">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/obtenerdatahistorica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarDatosClientePCLUB">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/actualizardatosclientepclub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarClientesCLF">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/actualizarclientesclf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarTransaccionSiacPo">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/CambioDatosSIACWS/registrartransaccionsiacpo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataClient">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/cambiodatossiacws/obtenerDataClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CambioDatosSIACWSService">
    <wsdl:port name="ebsCambioDatosSIACSB11" binding="tns:CambioDatosSIACWSPortTypeSOAP11Binding">
      <soap:address location="http://172.17.26.152:20000/CambioDatosSIACWS/ebsCambioDatosSIACSB11" />
    </wsdl:port>
    <wsdl:port name="ebsCambioDatosSIACSB12" binding="tns:CambioDatosSIACWSPortTypeSOAP12Binding">
      <soap12:address location="http://172.17.26.152:20000/CambioDatosSIACWS/ebsCambioDatosSIACSB12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>