NET/Claro.SIACU.ProxyService/Web References/CambioDatosSiacWS/ebsCambioDatosSIACSB110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/postventa/cambiodatossiacws/types" xmlns:base="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/postventa/cambiodatossiacws/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://172.17.26.152:20000/CambioDatosSIACWS/ebsCambioDatosSIACSB11?xsd=1" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:element name="actualizarCambioDireccionRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="customerid" type="xsd:int" />
        <xsd:element name="tipoDocumento" type="xsd:int" />
        <xsd:element name="numeroDocumento" type="xsd:string" />
        <xsd:element name="direccion" type="xsd:string" />
        <xsd:element name="notasDireccion" type="xsd:string" />
        <xsd:element name="distrito" type="xsd:string" />
        <xsd:element name="provincia" type="xsd:string" />
        <xsd:element name="codigoPostal" type="xsd:string" />
        <xsd:element name="departamento" type="xsd:string" />
        <xsd:element name="pais" type="xsd:string" />
        <xsd:element name="motivo" type="xsd:string" />
        <xsd:element name="tipoDireccion" type="xsd:string" />
        <xsd:element name="listaOpcionalRequest" type="base:ListaRequestOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="actualizarCambioDireccionResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="listaOpcionalResponse" type="base:ListaResponseOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="actualizarDatosMenoresRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="tipoDocumento" type="xsd:int" />
        <xsd:element name="numeroDocumento" type="xsd:string" />
        <xsd:element name="cargo" type="xsd:string" />
        <xsd:element name="telefono" type="xsd:string" />
        <xsd:element name="celular" type="xsd:string" />
        <xsd:element name="fax" type="xsd:string" />
        <xsd:element name="email" type="xsd:string" />
        <xsd:element name="nombreComercial" type="xsd:string" />
        <xsd:element name="contactoCliente" type="xsd:string" />
        <xsd:element name="fechaNacimiento" type="xsd:date" />
        <xsd:element name="nacionalidad" type="xsd:string" />
        <xsd:element name="sexo" type="xsd:string" />
        <xsd:element name="estadoCivil" type="xsd:string" />
        <xsd:element name="repreLegal" type="xsd:string" />
        <xsd:element name="dniRepre" type="xsd:string" />
        <xsd:element name="motivo" type="xsd:string" />
        <xsd:element name="updDataMinor" type="xsd:string" />
        <xsd:element name="updRegLegal" type="xsd:string" />
        <xsd:element name="updContact" type="xsd:string" />
        <xsd:element name="tipoDocRepLegal" type="xsd:int" />
        <xsd:element name="listaOpcionalRequest" type="base:ListaRequestOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="actualizarDatosMenoresResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="listaOpcionalResponse" type="base:ListaResponseOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="actualizarNombreClienteRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="tipoDocumento" type="xsd:int" />
        <xsd:element name="numeroDocumento" type="xsd:string" />
        <xsd:element name="razonSocial" type="xsd:string" />
        <xsd:element name="nombres" type="xsd:string" />
        <xsd:element name="apellido" type="xsd:string" />
        <xsd:element name="tipoDocumentoNuevo" type="xsd:int" />
        <xsd:element name="dniRucNuevo" type="xsd:string" />
        <xsd:element name="motivo" type="xsd:string" />
        <xsd:element name="listaOpcionalRequest" type="base:ListaRequestOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="actualizarNombreClienteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="listaOpcionalResponse" type="base:ListaResponseOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerDataHistoricaRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="customerId" type="xsd:int" />
        <xsd:element name="listaOpcionalRequest" type="base:ListaRequestOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerDataHistoricaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaAddress" type="base:listAddress" />
        <xsd:element name="listaOpcionalResponse" type="base:ListaResponseOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="actualizarDatosClientePCLUBRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="tipCliente" type="xsd:string" />
        <xsd:element name="codCliente" type="xsd:string" />
        <xsd:element name="numDoc" type="xsd:string" />
        <xsd:element name="tipoDoc" type="xsd:string" />
        <xsd:element name="firstName" type="xsd:string" />
        <xsd:element name="lastName" type="xsd:string" />
        <xsd:element name="usuario" type="xsd:string" />
        <xsd:element name="listaOpcionalRequest" type="base:ListaRequestOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="actualizarDatosClientePCLUBResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="codError" type="xsd:int" />
        <xsd:element name="DescError" type="xsd:string" />
        <xsd:element name="listaOpcionalResponse" type="base:ListaResponseOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="actualizarClientesCLFRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="objId" type="xsd:int" />
        <xsd:element name="telReferencial" type="xsd:string" />
        <xsd:element name="fax" type="xsd:string" />
        <xsd:element name="email" type="xsd:string" />
        <xsd:element name="fecNac" type="xsd:date" />
        <xsd:element name="sexo" type="xsd:string" />
        <xsd:element name="estCivil" type="xsd:string" />
        <xsd:element name="ocupacion" type="xsd:string" />
        <xsd:element name="nomComercial" type="xsd:string" />
        <xsd:element name="contactoCliente" type="xsd:string" />
        <xsd:element name="pais" type="xsd:string" />
        <xsd:element name="listaOpcionalRequest" type="base:ListaRequestOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="actualizarClientesCLFResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="mensaje" type="xsd:string" />
        <xsd:element name="resultado" type="xsd:string" />
        <xsd:element name="listaOpcionalResponse" type="base:ListaResponseOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="registrarTransaccionSiacPoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="motivoApadece" type="xsd:int" />
        <xsd:element name="flagEquipo" type="xsd:int" />
        <xsd:element name="estadoAcuerdo" type="xsd:int" />
        <xsd:element name="estadoApadece" type="xsd:int" />
        <xsd:element name="montoFideliza" type="xsd:int" />
        <xsd:element name="codTipoOperacion" type="xsd:string" />
        <xsd:element name="direccionCliente" type="xsd:string" />
        <xsd:element name="fuenteActualizaci" type="xsd:string" />
        <xsd:element name="nombreCliente" type="xsd:string" />
        <xsd:element name="nroDocCliente" type="xsd:string" />
        <xsd:element name="razonSocial" type="xsd:string" />
        <xsd:element name="nroDocPago" type="xsd:string" />
        <xsd:element name="listaOpcionalRequest" type="base:ListaRequestOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="registrarTransaccionSiacPoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="codError" type="xsd:int" />
        <xsd:element name="desError" type="xsd:string" />
        <xsd:element name="listaOpcionalResponse" type="base:ListaResponseOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerDataClientRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="custCode" type="xsd:string" />
        <xsd:element name="numero" type="xsd:string" />
        <xsd:element name="listaOpcionalRequest" type="base:ListaRequestOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerDataClientResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="datosCliente" type="base:datosClienteType" />
        <xsd:element name="listaOpcionalResponse" type="base:ListaResponseOpcional" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>