NET/Claro.SIACU.ProxyService/Service References/SIACU.CustomerManagement/getScore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entroobusent="http://claro.com.pe/esb/data/commonBusinessEntities/rootBusinessEntities/v2/" xmlns:entressta="http://claro.com.pe/esb/data/commonBusinessEntities/responseStatus/v2/" xmlns:entparorg="http://claro.com.pe/esb/data/engagedParty/partyOrganization/v2/" xmlns:cugetsv2="http://claro.com.pe/esb/message/bssCustomerManagement/getScore/v2/" xmlns:entpar="http://claro.com.pe/esb/data/engagedParty/party/v2/" xmlns:entbastyp="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" xmlns:entcus="http://claro.com.pe/esb/data/customer/customer/v2/" targetNamespace="http://claro.com.pe/esb/message/bssCustomerManagement/getScore/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/CommonBusinessEntities/RootBusinessEntities_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/rootBusinessEntities/v2/" />
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/EngagedParty/PartyOrganization_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/partyOrganization/v2/" />
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/CommonBusinessEntities/ResponseStatus_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/responseStatus/v2/" />
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/EngagedParty/Party_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/party/v2/" />
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/Customer/Customer_v2.xsd" namespace="http://claro.com.pe/esb/data/customer/customer/v2/" />
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/CommonBusinessEntities/BaseTypes_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" />
  <xs:element name="GetScoreRequestMessage" type="cugetsv2:GetScoreRequestType" />
  <xs:element name="GetScoreResponseMessage" type="cugetsv2:GetScoreResponseType" />
  <xs:complexType name="CorporateExtensionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_customerCreditProfile" type="entcus:CustomerCreditProfile" />
      <xs:element minOccurs="0" maxOccurs="1" name="_atomicOrganization" type="entparorg:AtomicOrganization" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetScoreRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_customerCreditProfile" type="entcus:CustomerCreditProfile" />
      <xs:element minOccurs="0" maxOccurs="1" name="_individual" type="entpar:Individual" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetScoreResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="responseStatus" type="entressta:ResponseStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="responseData" type="cugetsv2:ResponseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MassiveExtensionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_customerCreditProfile" type="entcus:CustomerCreditProfile" />
      <xs:element minOccurs="0" maxOccurs="1" name="_individual" type="entpar:Individual" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_massiveExtension" type="cugetsv2:MassiveExtensionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="_corporateExtension" type="cugetsv2:CorporateExtensionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="_externalSystemCapability" type="entroobusent:ExternalSystemCapability" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>