NET/Claro.SIACU.ProxyService/Service References/SIACU.CustomerManagement/searchCustomer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entressta="http://claro.com.pe/esb/data/commonBusinessEntities/responseStatus/v2/" xmlns:entpar="http://claro.com.pe/esb/data/engagedParty/party/v2/" xmlns:entcus="http://claro.com.pe/esb/data/customer/customer/v2/" xmlns:cusecuv2="http://claro.com.pe/esb/message/bssCustomerManagement/searchCustomer/v2/" xmlns:entloc="http://claro.com.pe/esb/data/commonBusinessEntities/location/v2/" targetNamespace="http://claro.com.pe/esb/message/bssCustomerManagement/searchCustomer/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/CommonBusinessEntities/Location_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/location/v2/" />
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/EngagedParty/Party_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/party/v2/" />
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/CommonBusinessEntities/ResponseStatus_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/responseStatus/v2/" />
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/Customer/Customer_v2.xsd" namespace="http://claro.com.pe/esb/data/customer/customer/v2/" />
  <xs:element name="SearchCustomerRequestMessage" type="cusecuv2:SearchCustomerRequestType" />
  <xs:element name="SearchCustomerResponseMessage" type="cusecuv2:SearchCustomerResponseType" />
  <xs:complexType name="ResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_customer" type="entcus:Customer" />
      <xs:element minOccurs="0" maxOccurs="1" name="_geographicAddress" type="entloc:GeographicAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchCustomerRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_customer" type="entcus:Customer" />
      <xs:element minOccurs="0" maxOccurs="1" name="_telephoneNumber" type="entpar:TelephoneNumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchCustomerResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="responseStatus" type="entressta:ResponseStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="responseData" type="cusecuv2:ResponseData" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>