NET/Claro.SIACU.Web.WebApplication/Service References/CommonService/CommonService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management.GetListInstant" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management.GetListInstant" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/CommonService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/CommonService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" />
  <xs:complexType name="ListInstantRequestManagement">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vDato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vTipoTelefono" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListInstantRequestManagement" nillable="true" type="tns:ListInstantRequestManagement" />
  <xs:complexType name="ListInstantResponseManagement">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" minOccurs="0" name="listInstant" nillable="true" type="q2:ArrayOfInstant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListInstantResponseManagement" nillable="true" type="tns:ListInstantResponseManagement" />
</xs:schema>