NET/Claro.SIACU.Web.WebApplication/Service References/CommonService/CommonService45.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBannerManagement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BannerManagement" nillable="true" type="tns:BannerManagement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBannerManagement" nillable="true" type="tns:ArrayOfBannerManagement" />
  <xs:complexType name="BannerManagement">
    <xs:sequence>
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_VIGENCIA_FIN" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_VIGENCIA_INICIO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_BANNER" type="xs:int" />
      <xs:element minOccurs="0" name="LOGIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOGIN_MODIFICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOGIN_REGISTRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENSAJE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDEN_PRIORIDAD" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BannerManagement" nillable="true" type="tns:BannerManagement" />
</xs:schema>