NET/Claro.SIACU.Web.WebApplication/Service References/CommonService/CommonService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetPortability" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetPortability" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/CommonService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/CommonService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" />
  <xs:complexType name="PortabilityRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PortabilityRequestCommon" nillable="true" type="tns:PortabilityRequestCommon" />
  <xs:complexType name="PortabilityResponseCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecutionDate" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" minOccurs="0" name="ListPortability" nillable="true" type="q2:ArrayOfPortability" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Respuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrTypeProcessDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="TrTypeProcessOperator" type="xs:boolean" />
      <xs:element minOccurs="0" name="TypeProcessDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeProcessOperator" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortabilityResponseCommon" nillable="true" type="tns:PortabilityResponseCommon" />
</xs:schema>