NET/Claro.SIACU.Web.WebApplication/Service References/CommonService/CommonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetSegments" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetSegments" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/CommonService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/CommonService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" />
  <xs:complexType name="SegmentsRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="NumberDocument" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeDocument" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SegmentsRequestCommon" nillable="true" type="tns:SegmentsRequestCommon" />
  <xs:complexType name="SegmentsResponseCommon">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" minOccurs="0" name="ListSegment" nillable="true" type="q2:ArrayOfSegment" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SegmentsResponseCommon" nillable="true" type="tns:SegmentsResponseCommon" />
</xs:schema>