NET/Claro.SIACU.Web.WebApplication/Service References/CommonService/CommonService46.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management.GetInstantById" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management.GetInstantById" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/CommonService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/CommonService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" />
  <xs:complexType name="InstantByIdRequestManagement">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdInstant" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InstantByIdRequestManagement" nillable="true" type="tns:InstantByIdRequestManagement" />
  <xs:complexType name="InstantByIdResponseManagement">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" minOccurs="0" name="instant" nillable="true" type="q2:Instant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstantByIdResponseManagement" nillable="true" type="tns:InstantByIdResponseManagement" />
</xs:schema>