NET/Claro.SIACU.Web.WebApplication/Service References/CommonService/CommonService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management.GetBannerId" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management.GetBannerId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/CommonService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/CommonService.svc?xsd=xsd25" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management" />
  <xs:complexType name="BannerIdRequestManagement">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID_BANNER" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BannerIdRequestManagement" nillable="true" type="tns:BannerIdRequestManagement" />
  <xs:complexType name="BannerIdResponseManagement">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management" minOccurs="0" name="Banner" nillable="true" type="q2:BannerManagement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BannerIdResponseManagement" nillable="true" type="tns:BannerIdResponseManagement" />
</xs:schema>