NET/Claro.SIACU.Web.WebApplication/Service References/CommonService/CommonService44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management.GetBanner" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management.GetBanner" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/CommonService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/CommonService.svc?xsd=xsd25" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management" />
  <xs:complexType name="BannerRequestManagement">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BannerRequestManagement" nillable="true" type="tns:BannerRequestManagement" />
  <xs:complexType name="BannerResponseManagement">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Management" minOccurs="0" name="ListBanner" nillable="true" type="q2:ArrayOfBannerManagement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BannerResponseManagement" nillable="true" type="tns:BannerResponseManagement" />
</xs:schema>