NET/Claro.SIACU.ProxyService/Service References/SIAC.ConsultaLineaCuenta/ebsConsultaLineaCuentaWSSB111.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/SOA/message/consultalineacuentaws" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/SOA/message/consultalineacuentaws" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="consultarLineaCuentaRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tipoConsulta" type="xsd:string" />
        <xsd:element name="valorConsulta" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarLineaCuentaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="rptaConsulta" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="cursorDatos" type="CursorDatosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CursorDatosType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="itm" type="ItmType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ItmType">
    <xsd:sequence>
      <xsd:element name="origenCuenta" type="xsd:string" />
      <xsd:element name="codCuenta" type="xsd:string" />
      <xsd:element name="coId" type="xsd:string" />
      <xsd:element name="identificacion" type="xsd:string" />
      <xsd:element name="actCuentaProd" type="xsd:string" />
      <xsd:element name="migCuentaProd" type="xsd:string" />
      <xsd:element name="origenRegistro" type="xsd:string" />
      <xsd:element name="estado" type="xsd:string" />
      <xsd:element name="usrCrea" type="xsd:string" />
      <xsd:element name="usrModif" type="xsd:string" />
      <xsd:element name="fchCreacion" type="xsd:string" />
      <xsd:element name="fchModif" type="xsd:string" />
      <xsd:element name="custCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>