NET/Claro.SIACU.Web.WebApplication/Service References/WipBinService/WipBinService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases.GetQueues" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases.GetQueues" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Cases/WipBinService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Cases/WipBinService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases" />
  <xs:complexType name="QueuesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="FlagWorkGroup" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueuesRequest" nillable="true" type="tns:QueuesRequest" />
  <xs:complexType name="QueuesResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases" minOccurs="0" name="ListQueuesAll" nillable="true" type="q2:ArrayOfQueue" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases" minOccurs="0" name="ListQueuesUser" nillable="true" type="q3:ArrayOfQueue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueuesResponse" nillable="true" type="tns:QueuesResponse" />
</xs:schema>