NET/Claro.SIACU.Web.WebApplication/Service References/WipBinService/WipBinService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases.GetCasesByWipBin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases.GetCasesByWipBin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Cases/WipBinService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Cases/WipBinService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases" />
  <xs:complexType name="CasesByWipBinRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="WipBinName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CasesByWipBinRequest" nillable="true" type="tns:CasesByWipBinRequest" />
  <xs:complexType name="CasesByWipBinResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases" minOccurs="0" name="Cases" nillable="true" type="q2:ArrayOfCase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CasesByWipBinResponse" nillable="true" type="tns:CasesByWipBinResponse" />
</xs:schema>