NET/Claro.SIACU.Web.WebApplication/Service References/WipBinService/WipBinService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases.GetQueuesByUser" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases.GetQueuesByUser" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Cases/WipBinService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Cases/WipBinService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases" />
  <xs:complexType name="QueuesByUserRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueuesByUserRequest" nillable="true" type="tns:QueuesByUserRequest" />
  <xs:complexType name="QueuesByUserResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases" minOccurs="0" name="ListQueue" nillable="true" type="q2:ArrayOfQueue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueuesByUserResponse" nillable="true" type="tns:QueuesByUserResponse" />
</xs:schema>