NET/Claro.SIACU.Web.WebApplication/Service References/WipBinService/WipBinService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases.GetCasesById" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases.GetCasesById" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Cases/WipBinService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Cases/WipBinService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases" />
  <xs:complexType name="CasesByIdRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CaseId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReportId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CasesByIdRequest" nillable="true" type="tns:CasesByIdRequest" />
  <xs:complexType name="CasesByIdResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Cases" minOccurs="0" name="Cases" nillable="true" type="q2:ArrayOfCase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CasesByIdResponse" nillable="true" type="tns:CasesByIdResponse" />
</xs:schema>