NET/Claro.SIACU.ProxyService/Service References/SIACU.TechnicalServiceDetails/getTechnicalServiceDetails15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:entclagenhea="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="headerRequest" type="entclagenhea:HeaderRequest" />
  <xsd:element name="headerResponse" type="entclagenhea:HeaderResponse" />
  <xsd:complexType name="HeaderRequest">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="channel" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="idApplication" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="userApplication" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="userSession" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="idESBTransaction" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="idBusinessTransaction" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="additionalNode" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderResponse">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idESBTransaction" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="idBusinessTransaction" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="1" maxOccurs="1" name="endDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="additionalNode" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>