NET/Claro.SIACU.ProxyService/Service References/SIACU.TechnicalServiceDetails/getTechnicalServiceDetails48.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:segtsdv2="http://claro.com.pe/esb/message/bssServiceProblemManagement/getTechnicalServiceDetails/v2/" xmlns:entressta="http://claro.com.pe/esb/data/commonBusinessEntities/responseStatus/v2/" xmlns:entres="http://claro.com.pe/esb/data/resource/resource/v2/" xmlns:entpar="http://claro.com.pe/esb/data/engagedParty/party/v2/" xmlns:entbastyp="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" xmlns:entcusord="http://claro.com.pe/esb/data/customer/customerOrder/v2/" targetNamespace="http://claro.com.pe/esb/message/bssServiceProblemManagement/getTechnicalServiceDetails/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Resource_v2.xsd" namespace="http://claro.com.pe/esb/data/resource/resource/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Party_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/party/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=CustomerOrder_v2.xsd" namespace="http://claro.com.pe/esb/data/customer/customerOrder/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=ResponseStatus_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/responseStatus/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=BaseTypes_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" />
  <xs:element name="GetTechnicalServiceDetailsRequestMessage" type="segtsdv2:GetTechnicalServiceDetailsRequestType" />
  <xs:element name="GetTechnicalServiceDetailsResponseMessage" type="segtsdv2:GetTechnicalServiceDetailsResponseType" />
  <xs:complexType name="GetTechnicalServiceDetailsRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_customerOrder" type="entcusord:CustomerOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetTechnicalServiceDetailsResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="responseStatus" type="entressta:ResponseStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="responseData" type="segtsdv2:ResponseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportedDefectsListType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_customerOrder" type="entcusord:CustomerOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_customerOrder" type="entcusord:CustomerOrder" />
      <xs:element minOccurs="0" maxOccurs="1" name="_organization" type="entpar:Organization" />
      <xs:element minOccurs="0" maxOccurs="1" name="_telephoneNumber" type="entpar:TelephoneNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="_physicalDevice" type="entres:PhysicalDevice" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_reportedDefectsList" type="segtsdv2:ReportedDefectsListType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_sparePartsList" type="segtsdv2:SparePartsListType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SparePartsListType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_physicalDevice" type="entres:PhysicalDevice" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>