NET/Claro.SIACU.ProxyService/Service References/SIACU.TechnicalServiceDetails/getTechnicalServiceDetails23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entparord="http://claro.com.pe/esb/data/engagedParty/partyOrder/v2/" xmlns:entbastyp="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" xmlns:entpar="http://claro.com.pe/esb/data/engagedParty/party/v2/" xmlns:entaddparent="http://claro.com.pe/esb/data/engagedParty/additionalPartyEntities/v2/" xmlns:entparint="http://claro.com.pe/esb/data/engagedParty/partyInteraction/v2/" xmlns:entengparext="http://claro.com.pe/esb/data/engagedParty/engagedPartyExtension/v2/" xmlns:entparrev="http://claro.com.pe/esb/data/engagedParty/partyRevenue/v2/" xmlns:entcus="http://claro.com.pe/esb/data/customer/customer/v2/" targetNamespace="http://claro.com.pe/esb/data/engagedParty/additionalPartyEntities/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=BaseTypes_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=PartyInteraction_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/partyInteraction/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Customer_v2.xsd" namespace="http://claro.com.pe/esb/data/customer/customer/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=EngagedPartyExtension_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/engagedPartyExtension/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=PartyOrder_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/partyOrder/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=PartyRevenue_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/partyRevenue/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Party_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/party/v2/" />
  <xs:complexType name="AdditionalPartyAttributes">
    <xs:annotation>
      <xs:documentation>A person or organization that buys products and services from the enterprise or receives free offers or services. This is modeled as a Party playing the role of Party. A Party is a type of PartyRole. Partys can also be other service providers who resell the enterprises products, other service providers that lease the enterprise's resources for utilization by the other service provider's products and services, and so forth.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string">
        <xs:annotation>
          <xs:documentation>A unique identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="partyStatus" type="xs:string">
        <xs:annotation>
          <xs:documentation>The current condition of a party, such as active, inactive, prospective.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="partyRank" type="xs:string">
        <xs:annotation>
          <xs:documentation>Degree of importance relative to other partys.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="_partyRole" type="entpar:PartyRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyAccountContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="contactType" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifies the relationship of the contact to the account.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="validFor" type="entbastyp:TimePeriod">
        <xs:annotation>
          <xs:documentation>The period for which the contact is applicable.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_contactMedium" type="entpar:ContactMedium" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyAccount">
    <xs:annotation>
      <xs:documentation>An arrangement that a party has with an enterprise that provides products to the party and collects AppliedPartyBillingRate that are used to produce PartyBill.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string">
        <xs:annotation>
          <xs:documentation>A unique identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>The name of the account.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="accountType" type="xs:string">
        <xs:annotation>
          <xs:documentation>A categorization of an account, such as individual, joint, and so forth, whose instances share some of the same characteristics.

For example the accountType might be "BillingAccount" corresponding to an account for which Invoices are produced or "SettlementAccount" corresponding to an account for which Settlement notes are produced..</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="accountStatus" type="xs:string">
        <xs:annotation>
          <xs:documentation>The condition of the account, such as due, paid, in arrears.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="creditLimit" type="entbastyp:Money">
        <xs:annotation>
          <xs:documentation>The maximum amount of money that may be charged on a account.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="pin" type="xs:string">
        <xs:annotation>
          <xs:documentation>A multidigit personal identification numbe that is used by a Party to gain access to a PartyAccount at an ATM, a computer, or a telephone system, and so forth.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="_partyAccountExtension" type="entengparext:PartyAccountExtension" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyBill" type="entparrev:PartyBill" />
      <xs:element minOccurs="0" maxOccurs="1" name="_partyRole" type="entpar:PartyRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="_customerAccount" type="entcus:CustomerAccount" />
      <xs:element minOccurs="0" maxOccurs="1" name="_partyBillingProductChargeSumBalance" type="entparrev:PartyBillingProductChargeSumBalance" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyPayment" type="entparrev:PartyPayment" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyBillSpec" type="entparrev:PartyBillSpec" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyOrderItem" type="entparord:PartyOrderItem" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_dunningScenario" type="entparrev:DunningScenario" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_paymentPlan" type="entparrev:PaymentPlan" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyDisputedAmount" type="entparint:PartyDisputedAmount" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyOrder" type="entparord:PartyOrder" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>