NET/Claro.SIACU.ProxyService/Service References/SIACU.TechnicalServiceDetails/getTechnicalServiceDetails22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entbastyp="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" targetNamespace="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Duration">
    <xs:annotation>
      <xs:documentation>A base / value business entity used to represent a length of time.Duration is a type of Quantity</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="units" type="xs:string">
        <xs:annotation>
          <xs:documentation>The unit of measure for the quantity, such as seconds,minutes, hours.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="amount" type="xs:double">
        <xs:annotation>
          <xs:documentation>A quantity of something, typically the total of a thing or things in number, size, value, or extent.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Quantity">
    <xs:annotation>
      <xs:documentation>A base / value business entity used to represent measurements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="amount" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>A quantity of something, typically the total of a thing or things in number, size, value, extent, or money.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="units" type="xs:string">
        <xs:annotation>
          <xs:documentation>The unit of measure for the quantity, such as meters, cubic yards, kilograms [ISO 80000], and the currency referring to [ISO 4217].</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="URI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="scheme" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="schemeSpecificPart" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="authority" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="userInfo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="host" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="port" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="path" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="query" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fragment" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="URL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="protocol" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="host" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="port" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="path" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="query" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fragment" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="attributeName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="attributeValue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Money">
    <xs:annotation>
      <xs:documentation>A base / value business entity used to represent money</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="units" type="xs:string">
        <xs:annotation>
          <xs:documentation>Currency(Notes:refer to [ISO 4217]) or non-currency terms, such as loyalty points.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="amount" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>A positive floating point number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimePeriod">
    <xs:annotation>
      <xs:documentation>A base / value business entity used to represent a period of time, between two timepoints</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="startDateTime" type="xs:string">
        <xs:annotation>
          <xs:documentation>An instant of time, starting at the TimePeriod



Notes:

If null, then represents to the beginning of time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="endDateTime" type="xs:string">
        <xs:annotation>
          <xs:documentation>An instant of time, ending at the TimePeriod:



Notes:

If null, then represents to the end of time</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>