NET/Claro.SIACU.ProxyService/Service References/SIACU.TechnicalServiceDetails/getTechnicalServiceDetails28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entroobusent="http://claro.com.pe/esb/data/commonBusinessEntities/rootBusinessEntities/v2/" xmlns:entparord="http://claro.com.pe/esb/data/engagedParty/partyOrder/v2/" xmlns:entpar="http://claro.com.pe/esb/data/engagedParty/party/v2/" xmlns:entbastyp="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" xmlns:entparprospeandoff="http://claro.com.pe/esb/data/engagedParty/partyProductSpecificationAndOffering/v2/" xmlns:entcusbilcol="http://claro.com.pe/esb/data/customer/customerBillCollection/v2/" xmlns:entprospe="http://claro.com.pe/esb/data/product/productSpecification/v2/" xmlns:entcusord="http://claro.com.pe/esb/data/customer/customerOrder/v2/" xmlns:entcus="http://claro.com.pe/esb/data/customer/customer/v2/" targetNamespace="http://claro.com.pe/esb/data/customer/customerOrder/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=PartyProductSpecificationAndOffering_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/partyProductSpecificationAndOffering/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=PartyOrder_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/partyOrder/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=RootBusinessEntities_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/rootBusinessEntities/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Customer_v2.xsd" namespace="http://claro.com.pe/esb/data/customer/customer/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=CustomerBillCollection_v2.xsd" namespace="http://claro.com.pe/esb/data/customer/customerBillCollection/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=ProductSpecification_v2.xsd" namespace="http://claro.com.pe/esb/data/product/productSpecification/v2/" />
  <xs:import schemaLocation="getTechnicalServiceDetails?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Party_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/party/v2/" />
  <xs:complexType name="CustomerOrder">
    <xs:annotation>
      <xs:documentation>A Customer might place orders with the Service Provider. This is represented by the CustomerOrder.

CustomerOrder / CustomerOrderItem further define PartyOrder / PartyOrderItem. For further details about PartyOrder / PartyOrderItem refer to the EngagedParty guide book.

A PartyOrder is a type of BusinessInteration that represents a communication used to procure or update one or many Products in the context of a ProductOffering through all its PartyOrderItems.

The particularity of the CustomerOrder is to procure or update Products for Customer even if the CustomerOrder might be placed by the Service Provider when applying precautionary measures in case of bad debt.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entroobusent:RootEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_customerOrderItem" type="entcusord:CustomerOrderItem" />
          <xs:element minOccurs="0" maxOccurs="1" name="_partyOrder" type="entparord:PartyOrder" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyRole" type="entpar:PartyRole" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_customerAccount" type="entcus:CustomerAccount" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_customerPayment" type="entcusbilcol:CustomerPayment" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomerOrderItem">
    <xs:annotation>
      <xs:documentation>Each CustomerOrderItem requires an action (AllowedProductAction) on a ProductSpecification or a ProductOffering.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_customerOrder" type="entcusord:CustomerOrder" />
      <xs:element minOccurs="0" maxOccurs="1" name="_productSpecification" type="entprospe:ProductSpecification" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_customerAccount" type="entcus:CustomerAccount" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyRole" type="entpar:PartyRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="_salesProductOfferingg" type="entparprospeandoff:SalesProductOffering" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>