NET/Claro.SIACU.Web.WebApplication/Service References/SecurityAudit/Audit4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Tools.Entity" elementFormDefault="qualified" targetNamespace="Tools.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55209/Audit.svc?xsd=xsd4" namespace="AuditService" />
  <xs:import schemaLocation="http://localhost:55209/Audit.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Tools.Entity.DataPower" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element name="audit" nillable="true" type="tns:AuditRequest" />
      <xs:element xmlns:q1="AuditService" minOccurs="0" name="AuditService" nillable="true" type="q1:Audit" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tools.Entity.DataPower" minOccurs="0" name="HeaderDPService" nillable="true" type="q2:HeaderDPRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="AuditRequest">
    <xs:sequence>
      <xs:element name="transaction" nillable="true" type="xs:string" />
      <xs:element name="ipAddress" nillable="true" type="xs:string" />
      <xs:element name="applicationName" nillable="true" type="xs:string" />
      <xs:element name="userName" nillable="true" type="xs:string" />
      <xs:element name="Session" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nodoAdicional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="canal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="credentials" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditRequest" nillable="true" type="tns:AuditRequest" />
</xs:schema>