NET/Claro.SIACU.Web.WebApplication/Service References/SecurityAudit/Audit5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55209/Audit.svc?xsd=xsd2" namespace="Claro.Audit.Register" />
  <xs:import schemaLocation="http://localhost:55209/Audit.svc?xsd=xsd6" namespace="RegisterDP" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="Claro.Audit.Register" minOccurs="0" name="request" nillable="true" type="q1:RegisterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="RegisterDP" minOccurs="0" name="request" nillable="true" type="q2:RegisterDPRequest" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>