NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.ValidateRedirectCommunication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.ValidateRedirectCommunication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ValidateRedirectComRequestDashboard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Sequence" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidateRedirectComRequestDashboard" nillable="true" type="tns:ValidateRedirectComRequestDashboard" />
  <xs:complexType name="ValidateRedirectComResponseDashboard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Availability" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JsonParameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultValCommunication" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrlDest" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateRedirectComResponseDashboard" nillable="true" type="tns:ValidateRedirectComResponseDashboard" />
</xs:schema>