NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetPostpaidLines" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetPostpaidLines" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="PostpaidLinesRequestDashboard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodeProduct" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdPlan" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" minOccurs="0" name="ListOptionalObject" nillable="true" type="q2:OptionalObject" />
          <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostpaidLinesRequestDashboard" nillable="true" type="tns:PostpaidLinesRequestDashboard" />
  <xs:complexType name="PostpaidLinesResponseDashboard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataOrigin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ListDetailProduct" nillable="true" type="q3:ArrayOfDetailProductPostPaid" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" minOccurs="0" name="ListOptionalObject" nillable="true" type="q4:ArrayOfOptionalObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostpaidLinesResponseDashboard" nillable="true" type="tns:PostpaidLinesResponseDashboard" />
</xs:schema>