NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService2511.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetReasonCancelInvoice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetReasonCancelInvoice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd29" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" />
  <xs:complexType name="ReasonCancelInvoiceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:ReasonCancelInvoiceMessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReasonCancelInvoiceRequest" nillable="true" type="tns:ReasonCancelInvoiceRequest" />
  <xs:complexType name="ReasonCancelInvoiceMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ReasonCancelInvoiceBodyRequest" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q2:HeadersRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReasonCancelInvoiceMessageRequest" nillable="true" type="tns:ReasonCancelInvoiceMessageRequest" />
  <xs:complexType name="ReasonCancelInvoiceBodyRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ReasonCancelInvoiceBodyRequest" nillable="true" type="tns:ReasonCancelInvoiceBodyRequest" />
  <xs:complexType name="ReasonCancelInvoiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:ReasonCancelInvoiceMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReasonCancelInvoiceResponse" nillable="true" type="tns:ReasonCancelInvoiceResponse" />
  <xs:complexType name="ReasonCancelInvoiceMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ReasonCancelInvoiceBodyResponse" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q3:HeadersResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReasonCancelInvoiceMessageResponse" nillable="true" type="tns:ReasonCancelInvoiceMessageResponse" />
  <xs:complexType name="ReasonCancelInvoiceBodyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaMotivos" nillable="true" type="tns:ArrayOflistaMotivos" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReasonCancelInvoiceBodyResponse" nillable="true" type="tns:ReasonCancelInvoiceBodyResponse" />
  <xs:complexType name="ArrayOflistaMotivos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaMotivos" nillable="true" type="tns:listaMotivos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflistaMotivos" nillable="true" type="tns:ArrayOflistaMotivos" />
  <xs:complexType name="listaMotivos">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="listaMotivos" nillable="true" type="tns:listaMotivos" />
</xs:schema>