NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetInvoiceFtp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetInvoiceFtp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.File" />
  <xs:complexType name="InvoiceFtpRequestDashboard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvoiceFtpRequestDashboard" nillable="true" type="tns:InvoiceFtpRequestDashboard" />
  <xs:complexType name="InvoiceFtpResponseDashboard">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.File" minOccurs="0" name="ObjGlobalDocument" nillable="true" type="q2:GlobalDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceFtpResponseDashboard" nillable="true" type="tns:InvoiceFtpResponseDashboard" />
</xs:schema>