NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.InsertRedirectCommunication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.InsertRedirectCommunication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="InsertRedirectComRequestDashboard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="AppDest" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IpClient" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IpServer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JsonParameters" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Option" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sequence" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertRedirectComRequestDashboard" nillable="true" type="tns:InsertRedirectComRequestDashboard" />
  <xs:complexType name="InsertRedirectComResponseDashboard">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultRegCommunication" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertRedirectComResponseDashboard" nillable="true" type="tns:InsertRedirectComResponseDashboard" />
</xs:schema>