NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService27.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.File" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.File" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GlobalDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GlobalDocument" nillable="true" type="tns:GlobalDocument" />
</xs:schema>