NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetTypeMIME" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetTypeMIME" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="GetTypeMIMERequestDashboard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetTypeMIMERequestDashboard" nillable="true" type="tns:GetTypeMIMERequestDashboard" />
  <xs:complexType name="GetTypeMIMEResponseDashboard">
    <xs:sequence>
      <xs:element minOccurs="0" name="TypeMime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeMIMEResponseDashboard" nillable="true" type="tns:GetTypeMIMEResponseDashboard" />
</xs:schema>