NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.File.GetFileDefaultImpersonation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.File.GetFileDefaultImpersonation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.File" />
  <xs:complexType name="FileDefaultImpersonationRequestDashboard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateRegister" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strDateIssue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strIdOnBase" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strNumeroRecibo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileDefaultImpersonationRequestDashboard" nillable="true" type="tns:FileDefaultImpersonationRequestDashboard" />
  <xs:complexType name="FileDefaultImpersonationResponseDashboard">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.File" minOccurs="0" name="ObjGlobalDocument" nillable="true" type="q2:GlobalDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileDefaultImpersonationResponseDashboard" nillable="true" type="tns:FileDefaultImpersonationResponseDashboard" />
</xs:schema>