NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService251.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetFlagAjuste" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetFlagAjuste" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="FlagAjsuteRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Document" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FlagAjsuteRequest" nillable="true" type="tns:FlagAjsuteRequest" />
  <xs:complexType name="FlagAjusteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AplicateAjsute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeResponse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsjResponse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlagAjusteResponse" nillable="true" type="tns:FlagAjusteResponse" />
</xs:schema>