NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService252.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.ReadOptionsByUser" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.ReadOptionsByUser" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" />
  <xs:complexType name="ReadOptionsByUserRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdAplication" type="xs:int" />
          <xs:element minOccurs="0" name="IdSession" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdUser" type="xs:int" />
          <xs:element minOccurs="0" name="Transaction" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReadOptionsByUserRequest" nillable="true" type="tns:ReadOptionsByUserRequest" />
  <xs:complexType name="ReadOptionsByUserResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" minOccurs="0" name="ListOption" nillable="true" type="q2:ArrayOfPaginaOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadOptionsByUserResponse" nillable="true" type="tns:ReadOptionsByUserResponse" />
</xs:schema>