NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetPrepaidProducts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetPrepaidProducts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" />
  <xs:complexType name="PrepaidProductsRequestDashboard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="DocumentIdentity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" minOccurs="0" name="ListOptionalObject" nillable="true" type="q2:OptionalObject" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PrepaidProductsRequestDashboard" nillable="true" type="tns:PrepaidProductsRequestDashboard" />
  <xs:complexType name="PrepaidProductsResponseDashboard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataOrigin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" minOccurs="0" name="ListOptionalObject" nillable="true" type="q3:ArrayOfOptionalObject" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" minOccurs="0" name="ListProduct" nillable="true" type="q4:ArrayOfProductPrePaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrepaidProductsResponseDashboard" nillable="true" type="tns:PrepaidProductsResponseDashboard" />
</xs:schema>