NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService322.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetDegradationTobe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetDegradationTobe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd36" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetBalanceConsumption.Response" />
  <xs:complexType name="GetDegradationRequestTobe">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="coIdPub" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strMsidn" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDegradationRequestTobe" nillable="true" type="tns:GetDegradationRequestTobe" />
  <xs:complexType name="GetDegradationResponseTobe">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetBalanceConsumption.Response" minOccurs="0" name="listOptional" nillable="true" type="q2:ArrayOflistaOpcional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDegradationResponseTobe" nillable="true" type="tns:GetDegradationResponseTobe" />
</xs:schema>