NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetReceiptNumber" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetReceiptNumber" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ReceiptNumberRequestDashboard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmissionDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReceiptNumberRequestDashboard" nillable="true" type="tns:ReceiptNumberRequestDashboard" />
  <xs:complexType name="ReceiptNumberResponseDashboard">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReceiptNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptNumberResponseDashboard" nillable="true" type="tns:ReceiptNumberResponseDashboard" />
</xs:schema>