NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetListaBloqueoDesbloqueo.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetListaBloqueoDesbloqueo.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseListaObtenerBloqueos">
    <xs:sequence>
      <xs:element minOccurs="0" name="obtenerBloqueosContratoResponse" nillable="true" type="tns:ObtenerBloqueosContratoResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseListaObtenerBloqueos" nillable="true" type="tns:ResponseListaObtenerBloqueos" />
  <xs:complexType name="ObtenerBloqueosContratoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="responseAudit" nillable="true" type="tns:ResponseAudit" />
      <xs:element minOccurs="0" name="responseData" nillable="true" type="tns:ResponseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenerBloqueosContratoResponse" nillable="true" type="tns:ObtenerBloqueosContratoResponse" />
  <xs:complexType name="ResponseAudit">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseAudit" nillable="true" type="tns:ResponseAudit" />
  <xs:complexType name="ResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="listaBloqueo" nillable="true" type="tns:ArrayOfListaBloqueo" />
      <xs:element minOccurs="0" name="listaOpcional" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseData" nillable="true" type="tns:ResponseData" />
  <xs:complexType name="ArrayOfListaBloqueo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaBloqueo" nillable="true" type="tns:ListaBloqueo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListaBloqueo" nillable="true" type="tns:ArrayOfListaBloqueo" />
  <xs:complexType name="ListaBloqueo">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="longDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ticklerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ticklerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ticklerStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaBloqueo" nillable="true" type="tns:ListaBloqueo" />
</xs:schema>