NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetBalanceConsumption.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetBalanceConsumption.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOflistaOpcional">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaOpcional" nillable="true" type="tns:listaOpcional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflistaOpcional" nillable="true" type="tns:ArrayOflistaOpcional" />
  <xs:complexType name="listaOpcional">
    <xs:sequence>
      <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="listaOpcional" nillable="true" type="tns:listaOpcional" />
</xs:schema>