NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetCustomerName" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetCustomerName" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="CustomerNameRequestDashboard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" minOccurs="0" name="ListOptionalObject" nillable="true" type="q2:OptionalObject" />
          <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchValue" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerNameRequestDashboard" nillable="true" type="tns:CustomerNameRequestDashboard" />
  <xs:complexType name="CustomerNameResponseDashboard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" minOccurs="0" name="ListOptionalObject" nillable="true" type="q3:ArrayOfOptionalObject" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" minOccurs="0" name="ListPerson" nillable="true" type="q4:ArrayOfPerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerNameResponseDashboard" nillable="true" type="tns:CustomerNameResponseDashboard" />
</xs:schema>