NET/Claro.SIACU.Web.WebApplication/Service References/DashboardService/DashboardService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetInstants" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Board.GetInstants" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/DashboardService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" />
  <xs:complexType name="InstantsRequestDashboard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataSearch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OriginType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypePhone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InstantsRequestDashboard" nillable="true" type="tns:InstantsRequestDashboard" />
  <xs:complexType name="InstantsResponseDashboard">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" minOccurs="0" name="ListInstant" nillable="true" type="q2:ArrayOfInstant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstantsResponseDashboard" nillable="true" type="tns:InstantsResponseDashboard" />
</xs:schema>