NET/Claro.SIACU.ProxyService/Web References/SIACPost.StateAccount/ConsultaEstadoCuenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://claro.com.pe/eai/oac/consultaestadocuenta/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://claro.com.pe/eai/oac/consultaestadocuenta/" name="ConsultaEstadoCuenta" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema xmlns:Q1="http://claro.com.pe/eai/servicecommons/" xmlns:tns="http://claro.com.pe/eai/oac/consultaestadocuenta/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/oac/consultaestadocuenta/">
      <xsd:import schemaLocation="http://172.19.74.141:8901/OAC_Services/Inquiry/ConsultaEstadoCuenta?SCHEMA%2FUtilities%2Fxsd%2FAudit" namespace="http://claro.com.pe/eai/servicecommons/" />
      <xsd:element name="consultaEstadoCuenta">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="txId" type="xsd:string" />
            <xsd:element name="pCodAplicacion" type="xsd:string" />
            <xsd:element name="pUsuarioAplic" type="xsd:string" />
            <xsd:element name="pTipoConsulta" type="xsd:string" />
            <xsd:element name="pTipoServicio" type="xsd:string" />
            <xsd:element name="pCliNroCuenta" type="xsd:string" />
            <xsd:element name="pNroTelefono" type="xsd:string" />
            <xsd:element name="pFlagSoloSaldo" type="xsd:string" />
            <xsd:element name="pFlagSoloDisputa" type="xsd:string" />
            <xsd:element name="pFechaDesde" type="xsd:dateTime" />
            <xsd:element name="pFechaHasta" type="xsd:dateTime" />
            <xsd:element name="pTamanoPagina" type="xsd:decimal" />
            <xsd:element name="pNroPagina" type="xsd:decimal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaEstadoCuentaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="Q1:AuditType" />
            <xsd:element name="xEstadoCuenta" type="tns:EstadoCuentaCabType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EstadoCuentaCabType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="xDetalleEstadoCuentaCab" type="tns:DetalleEstadoCuentaCabType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetalleEstadoCuentaCabType">
        <xsd:sequence>
          <xsd:element name="xNombreCliente" nillable="true" type="xsd:string" />
          <xsd:element name="xDeudaActual" nillable="true" type="xsd:decimal" />
          <xsd:element name="xDeudaVencida" nillable="true" type="xsd:decimal" />
          <xsd:element name="xTotalMontoDisputa" nillable="true" type="xsd:decimal" />
          <xsd:element name="xFechaUltFactura" nillable="true" type="xsd:dateTime" />
          <xsd:element name="xFechaUtlPago" nillable="true" type="xsd:dateTime" />
          <xsd:element name="xCodCuenta" nillable="true" type="xsd:string" />
          <xsd:element name="xCodCuentaAlterna" nillable="true" type="xsd:string" />
          <xsd:element name="xDescUbigeo" nillable="true" type="xsd:string" />
          <xsd:element name="xTipoCliente" nillable="true" type="xsd:string" />
          <xsd:element name="xEstadoCuenta" nillable="true" type="xsd:string" />
          <xsd:element name="xFechaActivacion" nillable="true" type="xsd:dateTime" />
          <xsd:element name="xCicloFacturacion" nillable="true" type="xsd:string" />
          <xsd:element name="xLimiteCredito" nillable="true" type="xsd:decimal" />
          <xsd:element name="xCreditScore" nillable="true" type="xsd:string" />
          <xsd:element name="xTipoPago" nillable="true" type="xsd:string" />
          <xsd:element name="xDetalleTrx" nillable="true" type="tns:EstadoCtaDetType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EstadoCtaDetType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="xDetalleEstadoCuenta" type="tns:DetalleEstadoCtaType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetalleEstadoCtaType">
        <xsd:sequence>
          <xsd:element name="xTipoDocumento" nillable="true" type="xsd:string" />
          <xsd:element name="xNroDocumento" nillable="true" type="xsd:string" />
          <xsd:element name="xDescripDocumento" nillable="true" type="xsd:string" />
          <xsd:element name="xEstadoDocumento" nillable="true" type="xsd:string" />
          <xsd:element name="xFechaRegistro" nillable="true" type="xsd:dateTime" />
          <xsd:element name="xFechaEmision" nillable="true" type="xsd:dateTime" />
          <xsd:element name="xFechaVencimiento" nillable="true" type="xsd:dateTime" />
          <xsd:element name="xTipoMoneda" nillable="true" type="xsd:string" />
          <xsd:element name="xMontoDocumento" nillable="true" type="xsd:decimal" />
          <xsd:element name="xMontoFco" nillable="true" type="xsd:decimal" />
          <xsd:element name="xMontoFinan" nillable="true" type="xsd:decimal" />
          <xsd:element name="xSaldoDocumento" nillable="true" type="xsd:decimal" />
          <xsd:element name="xSaldoFco" nillable="true" type="xsd:decimal" />
          <xsd:element name="xSaldoFinan" nillable="true" type="xsd:decimal" />
          <xsd:element name="xMontoSoles" nillable="true" type="xsd:decimal" />
          <xsd:element name="xMontoDolares" nillable="true" type="xsd:decimal" />
          <xsd:element name="xCargo" nillable="true" type="xsd:decimal" />
          <xsd:element name="xAbono" nillable="true" type="xsd:decimal" />
          <xsd:element name="xSaldoCuenta" nillable="true" type="xsd:decimal" />
          <xsd:element name="xNroOperacionPago" nillable="true" type="xsd:string" />
          <xsd:element name="xFechaPago" nillable="true" type="xsd:dateTime" />
          <xsd:element name="xFormaPago" nillable="true" type="xsd:string" />
          <xsd:element name="xDocAnio" nillable="true" type="xsd:decimal" />
          <xsd:element name="xDocMes" nillable="true" type="xsd:decimal" />
          <xsd:element name="xDocAnioVenc" nillable="true" type="xsd:decimal" />
          <xsd:element name="xDocMesVenc" nillable="true" type="xsd:decimal" />
          <xsd:element name="xFlagCargoCta" nillable="true" type="xsd:string" />
          <xsd:element name="xNroTicket" nillable="true" type="xsd:string" />
          <xsd:element name="xMontoReclamado" nillable="true" type="xsd:decimal" />
          <xsd:element name="xTelefono" nillable="true" type="xsd:string" />
          <xsd:element name="xUsuario" nillable="true" type="xsd:string" />
          <xsd:element name="xIdDocOrigen" type="xsd:string" />
          <xsd:element name="xDescripExtend" type="xsd:string" />
          <xsd:element name="xIdDocOAC" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
    </s:schema>
  </types>
  <message name="consultaEstadoCuentaRequest">
    <part name="parameters" element="s0:consultaEstadoCuenta" />
  </message>
  <message name="consultaEstadoCuentaResponse">
    <part name="parameters" element="s0:consultaEstadoCuentaResponse" />
  </message>
  <portType name="ConsultaEstadoCuenta">
    <operation name="consultaEstadoCuenta">
      <input message="s0:consultaEstadoCuentaRequest" />
      <output message="s0:consultaEstadoCuentaResponse" />
    </operation>
  </portType>
  <binding name="ConsultaEstadoCuentaSOAP" type="s0:ConsultaEstadoCuenta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="consultaEstadoCuenta">
      <soap:operation soapAction="http://claro.com.pe/eai/oac/consultaestadocuenta/consultaEstadoCuenta" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ConsultaEstadoCuenta">
    <port name="ConsultaEstadoCuentaSOAP" binding="s0:ConsultaEstadoCuentaSOAP">
      <soap:address location="http://172.19.74.141:8901/OAC_Services/Inquiry/ConsultaEstadoCuenta" />
    </port>
  </service>
</definitions>