NET/Claro.SIACU.ProxyService/Service References/SIACU.RetrieveSubscriptions/BSS_SERVICEORDERING_v2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://claro.com.pe/esb/data/commonBusinessEntities/claroFault/v2/" xmlns:WL5G3N5="http://claro.com.pe/esb/engagedParty/bssAgreementManagement/v2/" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://claro.com.pe/esb/message/bssAgreementManagement/retrieveSubscriptions/v2/" xmlns:WL5G3N2="http://claro.com.pe/esb/message/bssAgreementManagement/getSubscriptionDetails/v2/" xmlns:dp="http://claro.com.pe/generic/messageFormat/v1.0/" xmlns:WL5G3N4="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" name="BSS_SERVICEORDERING_v2" targetNamespace="http://claro.com.pe/esb/engagedParty/bssAgreementManagement/v2/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:bssretsub="http://claro.com.pe/esb/engagedParty/bssAgreementManagement/v2/" xmlns:hd="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" xmlns:inp2="http://claro.com.pe/esb/message/bssAgreementManagement/retrieveSubscriptions/v2/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp3="http://claro.com.pe/esb/message/bssAgreementManagement/getSubscriptionDetails/v2/" xmlns:inp1="http://claro.com.pe/esb/data/commonBusinessEntities/claroFault/v2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="HeaderGeneric_v1.0.xsd" namespace="http://claro.com.pe/generic/messageFormat/v1.0/" />
      <xsd:import schemaLocation="CommonsException.xsd" namespace="http://claro.com.pe/eai/ebs/xsd/CommonsException" />
      <xsd:import schemaLocation="ClaroGenericHeaders_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" />
    </xsd:schema>
    <xsd:schema xmlns:bssretsub="http://claro.com.pe/esb/engagedParty/bssAgreementManagement/v2/" xmlns:hd="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" xmlns:inp2="http://claro.com.pe/esb/message/bssAgreementManagement/retrieveSubscriptions/v2/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp3="http://claro.com.pe/esb/message/bssAgreementManagement/getSubscriptionDetails/v2/" xmlns:inp1="http://claro.com.pe/esb/data/commonBusinessEntities/claroFault/v2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="ClaroFault_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/claroFault/v2/" />
    </xsd:schema>
    <xsd:schema xmlns:bssretsub="http://claro.com.pe/esb/engagedParty/bssAgreementManagement/v2/" xmlns:hd="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" xmlns:inp2="http://claro.com.pe/esb/message/bssAgreementManagement/retrieveSubscriptions/v2/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp3="http://claro.com.pe/esb/message/bssAgreementManagement/getSubscriptionDetails/v2/" xmlns:inp1="http://claro.com.pe/esb/data/commonBusinessEntities/claroFault/v2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="retrieveSubscriptions.xsd" namespace="http://claro.com.pe/esb/message/bssAgreementManagement/retrieveSubscriptions/v2/" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="RetrieveSubscriptionsRequestMessage">
    <WL5G3N0:part name="retrieveSubscriptionsRequestMessage" element="WL5G3N1:RetrieveSubscriptionsRequestMessage" />
  </WL5G3N0:message>
  <WL5G3N0:message name="RetrieveSubscriptionsResponseMessage">
    <WL5G3N0:part name="retrieveSubscriptionsResponseMessage" element="WL5G3N1:RetrieveSubscriptionsResponseMessage" />
  </WL5G3N0:message>
  <WL5G3N0:message name="claroFault">
    <WL5G3N0:part name="claroFault" element="WL5G3N3:claroFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerRequest">
    <WL5G3N0:part name="headerReq" element="WL5G3N4:headerRequest" />
    <WL5G3N0:part name="HeaderRequest" element="dp:HeaderRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerResponse">
    <WL5G3N0:part name="headerResp" element="WL5G3N4:headerResponse" />
    <WL5G3N0:part name="HeaderResponse" element="dp:HeaderResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="BssAgreementManagementPort">
    <WL5G3N0:operation name="retrieveSubscriptions">
      <WL5G3N0:input message="WL5G3N5:RetrieveSubscriptionsRequestMessage" />
      <WL5G3N0:output message="WL5G3N5:RetrieveSubscriptionsResponseMessage" />
      <WL5G3N0:fault name="claroFault" message="WL5G3N5:claroFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="BssAgreementManagementSOAP11Binding" type="WL5G3N5:BssAgreementManagementPort">
    <WL5G3N6:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="retrieveSubscriptions">
      <WL5G3N6:operation soapAction="retrieveSubscriptions" style="document" />
      <WL5G3N0:input>
        <WL5G3N6:body use="literal" namespace="http://claro.com.pe/esb/engagedParty/bssAgreementManagement/v2/" />
        <WL5G3N6:header message="WL5G3N5:headerRequest" part="headerReq" use="literal" />
        <WL5G3N6:header message="WL5G3N5:headerRequest" part="HeaderRequest" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N6:body use="literal" namespace="http://claro.com.pe/esb/engagedParty/bssAgreementManagement/v2/" />
        <WL5G3N6:header message="WL5G3N5:headerResponse" part="headerResp" use="literal" />
        <WL5G3N6:header message="WL5G3N5:headerResponse" part="HeaderResponse" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="claroFault">
        <WL5G3N6:fault use="literal" name="claroFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="BssAgreementManagement">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="BssAgreementManagementPort" binding="WL5G3N5:BssAgreementManagementSOAP11Binding">
      <WL5G3N6:address location="http://localhost:24000/esb/engagedParty/bssAgreementManagement/v2/" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>