NET/Claro.SIACU.ProxyService/Service References/SIACU.RetrieveSubscriptions/ResourceSpecification_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entroobusent="http://claro.com.pe/esb/data/commonBusinessEntities/rootBusinessEntities/v2/" xmlns:entbusint="http://claro.com.pe/esb/data/commonBusinessEntities/businessInteraction/v2/" xmlns:entres="http://claro.com.pe/esb/data/resource/resource/v2/" xmlns:entbastyp="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" xmlns:entresspe="http://claro.com.pe/esb/data/resource/resourceSpecification/v2/" xmlns:entprospe="http://claro.com.pe/esb/data/product/productSpecification/v2/" targetNamespace="http://claro.com.pe/esb/data/resource/resourceSpecification/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../CommonBusinessEntities/BaseTypes_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" />
  <xs:import schemaLocation="../CommonBusinessEntities/BusinessInteraction_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/businessInteraction/v2/" />
  <xs:import schemaLocation="Resource_v2.xsd" namespace="http://claro.com.pe/esb/data/resource/resource/v2/" />
  <xs:import schemaLocation="../CommonBusinessEntities/RootBusinessEntities_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/rootBusinessEntities/v2/" />
  <xs:import schemaLocation="../Product/ProductSpecification_v2.xsd" namespace="http://claro.com.pe/esb/data/product/productSpecification/v2/" />
  <xs:complexType name="APISpecification">
    <xs:annotation>
      <xs:documentation>The definition of an API whose attribute values are shared by every instance of an API related to it.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="apiProtocolType" type="xs:string">
        <xs:annotation>
          <xs:documentation>API protocol type like REST, SOAP and so on.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="externalUrl" type="entbastyp:URL">
        <xs:annotation>
          <xs:documentation>The url of an API offered to the user. this is seen as external url for an API brokerage.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="internalUrl" type="entbastyp:URL">
        <xs:annotation>
          <xs:documentation>The url of an API offered to an API brokerage.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="externalSchema" type="xs:string">
        <xs:annotation>
          <xs:documentation>The external API schema of the (external) url offered to the client of this API.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="internalSchema" type="xs:string">
        <xs:annotation>
          <xs:documentation>The internal API schema of the (internal) url which an API broker uses.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="authenticationType" type="xs:string">
        <xs:annotation>
          <xs:documentation>The authentication type like OAUTH, SSL used for this API</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="allowedOperations" type="xs:string">
        <xs:annotation>
          <xs:documentation>A comma separated list of authorised operations like POST, PATCH for this API.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="allowedApiEntities" type="xs:string">
        <xs:annotation>
          <xs:documentation>A comma separated list of authorised entities for this API.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="responseTypeFormat" type="xs:string">
        <xs:annotation>
          <xs:documentation>Response type format of this API like Text and Json.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_aPI" type="entres:API" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhysicalResourceSpec">
    <xs:annotation>
      <xs:documentation>This is an abstract base class that is used to define the invariant characteristics and behavior (attributes, methods, constraints, and relationships) of a PhysicalResource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_physicalResourceRole" type="entres:PhysicalResourceRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="_physicalResourceSpecAttributes" type="entresspe:PhysicalResourceSpecAttributes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhysicalResourceSpecAttributes">
    <xs:annotation>
      <xs:documentation>The PhysicalResourceSpecAttributes handles specific attributes used to describe an atomic PhysicalResourceSpec.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="modelNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>This is a string that represents a manufacturer-allocated number used to identify the general type and/or category of the hardware item. This, in combination with the PartNumber and the VendorName, identify different types of hardware items. The SerialNumber can then be used to differentiate between different instances of the same type of hardware item. This is an optional attribute.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="vendorName" type="xs:string">
        <xs:annotation>
          <xs:documentation>This is a string that defines the name of the manufacturer. This, in combination with the ModelNumber and the PartNumber, identify different types of hardware items. The SerialNumber can then be used to differentiate between different instances of the same type of hardware item. This is a REQUIRED attribute.

--&gt;Esta es una cadena que define el nombre del fabricante. Esto, en combinación con ModelNumber y PartNumber, identifica diferentes tipos de elementos de hardware. El SerialNumber se puede usar para diferenciar entre diferentes instancias del mismo tipo de elemento de hardware. Esto es un atributo requerido.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="skuNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>This is a string that defines the manufacturer-allocated Stock Keeping Unit (SKU) number of the hardware item. This is an optional attribute.

--&gt;Esta es una cadena que define el número de Unidad de Mantenimiento de Stock (SKU) asignado por el fabricante del artículo de hardware. Este es un atributo opcional.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="partNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>This is a string that defines a manufacturer-allocated part number assigned by the organization that manufactures the hardware item. This, in combination with the ModelNumber and the VendorName, identify different types of hardware items. The SerialNumber can then be used to differentiate between different instances of the same type of hardware item. This is a REQUIRED attribute.

--&gt;Esta es una cadena que define un número de pieza asignado por el fabricante asignado por la organización que fabrica el elemento de hardware. Esto, en combinación con ModelNumber y VendorName, identifica diferentes tipos de elementos de hardware. El SerialNumber se puede usar para diferenciar entre diferentes instancias del mismo tipo de elemento de hardware. Esto es un atributo requerido.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="_physicalResourceSpec" type="entresspe:PhysicalResourceSpec" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceSpecCharacteristic">
    <xs:annotation>
      <xs:documentation>A characteristic quality or distinctive feature of a ResourceSpecification. The characteristic can be take on a discrete value, such as color, can take on a range of values, (for example, sensitivity of 100-240 mV), or can be derived from a formula (for example, usage time (hrs) = 30 - talk time *3). Certain characteristics, such as color, may be configured during the ordering or some other process.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string">
        <xs:annotation>
          <xs:documentation>A unique identifier for the CharacteristicSpecification.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>A word, term, or phrase by which the CharacteristicSpecification is known and distinguished from other CharacteristicSpecifications.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>A narrative that explains the CharacteristicSpecification.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="unique" type="xs:string">
        <xs:annotation>
          <xs:documentation>An indicator that specifies if a value is unique for the specification.

Possible values are; "unique while value is in effect" and "unique whether value is in effect or not"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="valueType" type="xs:string">
        <xs:annotation>
          <xs:documentation>A kind of value that the characteristic can take on, such as numeric, text, and so forth.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="minCardinality" type="xs:integer">
        <xs:annotation>
          <xs:documentation>The minimum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where zero is the value for the minCardinality.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="maxCardinality" type="xs:integer">
        <xs:annotation>
          <xs:documentation>The maximum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where five is the value for the maxCardinality.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="extensible" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>An indicator that specifies that the values for the characteristic can be extended by adding new values when instantiating a characteristic for an Entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="derivationFormula" type="xs:string">
        <xs:annotation>
          <xs:documentation>A rule or principle represented in symbols, numbers, or letters, often in the form of an equation used to derive the value of a characteristic value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="validFor" type="xs:string">
        <xs:annotation>
          <xs:documentation>The period of time for which a characteristic is applicable.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_resourceSpecCharacteristicValue" type="entresspe:ResourceSpecCharacteristicValue" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_resourceCharacteristicValue" type="entres:ResourceCharacteristicValue" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_resourceSpecification" type="entresspe:ResourceSpecification" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceSpecCharacteristicValue">
    <xs:annotation>
      <xs:documentation>A number or text that can be assigned to a ResourceSpecCharacteristic.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="valueType" type="xs:string">
        <xs:annotation>
          <xs:documentation>A kind of value that the characteristic can take on, such as numeric, text, and so forth.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="defaultValue" type="xs:string">
        <xs:annotation>
          <xs:documentation>Indicates if the value is the default value for a characterisitc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:string">
        <xs:annotation>
          <xs:documentation>A discrete value that the characteristic can take on.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="unitOfMeasure" type="xs:string">
        <xs:annotation>
          <xs:documentation>A length, surface, volume, dry measure, liquid measure, money, weight, time, and the like. Iin general, a determinate quantity or magnitude of the kind designated, taken as a standard of comparison for others of the same kind, in assigning to them numerical values, as 1 foot, 1 yard, 1 mile, 1 square foot.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="valueFrom" type="xs:string">
        <xs:annotation>
          <xs:documentation>The low range value that a characteristic can take on.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="valueTo" type="xs:string">
        <xs:annotation>
          <xs:documentation>The upper range value that a characteristic can take on.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="rangeInterval" type="xs:string">
        <xs:annotation>
          <xs:documentation>An indicator that specifies the inclusion or exclusion of the valueFrom and valueTo attributes.

Possible values are "open", "closed", "closedBottom" and "closedTop".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="validFor" type="xs:string">
        <xs:annotation>
          <xs:documentation>The period of time for which a value is applicable.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="_resourceSpecCharacteristic" type="entresspe:ResourceSpecCharacteristic" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_resourceCharacteristicValue" type="entres:ResourceCharacteristicValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceSpecification">
    <xs:annotation>
      <xs:documentation>This is an abstract base class that is used to define the invariant characteristics and behavior (attributes, methods, constraints, and relationships) of a managed or unmanaged Resource.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entroobusent:EntitySpecification">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_businessInteractionItem" type="entbusint:BusinessInteractionItem" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_resource" type="entres:Resource" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_productSpecification" type="entprospe:ProductSpecification" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_resourceSpecCharacteristic" type="entresspe:ResourceSpecCharacteristic" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>