NET/Claro.SIACU.ProxyService/Service References/SIACU.RetrieveSubscriptions/ServiceSpecification_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entser="http://claro.com.pe/esb/data/service/service/v2/" xmlns:entbastyp="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" xmlns:entserspe="http://claro.com.pe/esb/data/service/serviceSpecification/v2/" targetNamespace="http://claro.com.pe/esb/data/service/serviceSpecification/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../CommonBusinessEntities/BaseTypes_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" />
  <xs:import schemaLocation="Service_v2.xsd" namespace="http://claro.com.pe/esb/data/service/service/v2/" />
  <xs:complexType name="ServiceSpecCharacteristic">
    <xs:annotation>
      <xs:documentation>This is an abstract base class that represents the key features of this ServiceSpecification. For example, bandwidth is characteristic of many different types of services; if bandwidth is important (e.g., from the point-of-view of a Customer obtaining this Service via a Product) then bandwidth would be a ServiceSpecCharacteristic for that particular Service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string">
        <xs:annotation>
          <xs:documentation>A unique identifier for the CharacteristicSpecification.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>A word, term, or phrase by which the CharacteristicSpecification is known and distinguished from other CharacteristicSpecifications.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>A narrative that explains the CharacteristicSpecification.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="unique" type="xs:string">
        <xs:annotation>
          <xs:documentation>An indicator that specifies if a value is unique for the specification.

Possible values are; "unique while value is in effect" and "unique whether value is in effect or not"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="valueType" type="xs:string">
        <xs:annotation>
          <xs:documentation>A kind of value that the characteristic can take on, such as numeric, text, and so forth.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="minCardinality" type="xs:integer">
        <xs:annotation>
          <xs:documentation>The minimum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where zero is the value for the minCardinality.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="maxCardinality" type="xs:integer">
        <xs:annotation>
          <xs:documentation>The maximum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where five is the value for the maxCardinality.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="extensible" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>An indicator that specifies that the values for the characteristic can be extended by adding new values when instantiating a characteristic for an Entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="derivationFormula" type="xs:string">
        <xs:annotation>
          <xs:documentation>A rule or principle represented in symbols, numbers, or letters, often in the form of an equation used to derive the value of a characteristic value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="validFor" type="entbastyp:TimePeriod">
        <xs:annotation>
          <xs:documentation>The period of time for which a characteristic is applicable.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_serviceSpecification" type="entser:ServiceSpecification" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_serviceCharacteristicValue" type="entser:ServiceCharacteristicValue" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_serviceSpecCharacteristicValue" type="entserspe:ServiceSpecCharacteristicValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceSpecCharacteristicValue">
    <xs:annotation>
      <xs:documentation>A ServiceSpecCharacteristicValue object is used to define a set of attributes, each of which can be assigned to a corresponding set of attributes in a ServiceSpecCharacteristic object. The values of the attributes in the ServiceSpecCharacteristicValue object describe the values of the attributes that a corresponding ServiceSpecCharacteristic object can take on.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="valueType" type="xs:string">
        <xs:annotation>
          <xs:documentation>A kind of value that the characteristic can take on, such as numeric, text, and so forth.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="isDefault" type="xs:string">
        <xs:annotation>
          <xs:documentation>Indicates if the value is the default value for a characterisitc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:string">
        <xs:annotation>
          <xs:documentation>A discrete value that the characteristic can take on.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="unitOfMeasure" type="xs:string">
        <xs:annotation>
          <xs:documentation>A length, surface, volume, dry measure, liquid measure, money, weight, time, and the like. Iin general, a determinate quantity or magnitude of the kind designated, taken as a standard of comparison for others of the same kind, in assigning to them numerical values, as 1 foot, 1 yard, 1 mile, 1 square foot.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="valueFrom" type="xs:string">
        <xs:annotation>
          <xs:documentation>The low range value that a characteristic can take on.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="valueTo" type="xs:string">
        <xs:annotation>
          <xs:documentation>The upper range value that a characteristic can take on.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="rangeInterval" type="xs:string">
        <xs:annotation>
          <xs:documentation>An indicator that specifies the inclusion or exclusion of the valueFrom and valueTo attributes.

Possible values are "open", "closed", "closedBottom" and "closedTop".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="validFor" type="xs:string">
        <xs:annotation>
          <xs:documentation>The period of time for which a value is applicable.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="_serviceSpecCharacteristic" type="entserspe:ServiceSpecCharacteristic" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>