NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService9821.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetInteraction" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetInteraction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:complexType name="InteractionRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Document" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InteractionRequestPostPaid" nillable="true" type="tns:InteractionRequestPostPaid" />
  <xs:complexType name="InteractionResponsePostPaid">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdInteraction" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InteractionResponsePostPaid" nillable="true" type="tns:InteractionResponsePostPaid" />
</xs:schema>