NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService49.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetTypeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetTypeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:complexType name="TypeServiceRequestPostpaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodePlanTariff" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TypeServiceRequestPostpaid" nillable="true" type="tns:TypeServiceRequestPostpaid" />
  <xs:complexType name="TypeServiceResponsePostpaid">
    <xs:sequence>
      <xs:element minOccurs="0" name="NameTypeService" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypeServiceResponsePostpaid" nillable="true" type="tns:TypeServiceResponsePostpaid" />
</xs:schema>