NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetReceipt" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetReceipt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="ReceiptRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="bmIdPub" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="csIdPub" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="plataformaAT" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReceiptRequestPostPaid" nillable="true" type="tns:ReceiptRequestPostPaid" />
  <xs:complexType name="ReceiptResponsePostPaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ObjReceipt" nillable="true" type="q2:ReceiptPostPaid" />
      <xs:element minOccurs="0" name="isEnvioEmail" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptResponsePostPaid" nillable="true" type="tns:ReceiptResponsePostPaid" />
</xs:schema>