NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService87.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetScheduledTransaction" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetScheduledTransaction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="ScheduledTransactionRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Adviser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CacDac" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdContract" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InteractionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScheduledTransactionRequestPostPaid" nillable="true" type="tns:ScheduledTransactionRequestPostPaid" />
  <xs:complexType name="ScheduledTransactionResponsePostPaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ScheduledTransactions" nillable="true" type="q2:ArrayOfScheduledTransactionPostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduledTransactionResponsePostPaid" nillable="true" type="tns:ScheduledTransactionResponsePostPaid" />
</xs:schema>