NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HeadersRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="HeaderRequest" nillable="true" type="tns:HeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeadersRequest" nillable="true" type="tns:HeadersRequest" />
  <xs:complexType name="HeaderRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="VarArg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="consumer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dispositivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msgType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="system" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wsIp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeaderRequest" nillable="true" type="tns:HeaderRequest" />
  <xs:complexType name="HeadersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="HeaderResponse" nillable="true" type="tns:HeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeadersResponse" nillable="true" type="tns:HeadersResponse" />
  <xs:complexType name="HeaderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="consumer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="tns:Status" />
      <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="varArg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeaderResponse" nillable="true" type="tns:HeaderResponse" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msgid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="Fault">
    <xs:sequence>
      <xs:element minOccurs="0" name="detail" nillable="true" type="tns:FaultDetail" />
      <xs:element minOccurs="0" name="faultactor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="faultcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="faultstring" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fault" nillable="true" type="tns:Fault" />
  <xs:complexType name="FaultDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="IntegrationError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultDetail" nillable="true" type="tns:FaultDetail" />
</xs:schema>