NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService9826.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetBonusFullClaroClient" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetBonusFullClaroClient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd34" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" />
  <xs:complexType name="BonusFullClaroClientRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:BonusFullClaroClientMessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BonusFullClaroClientRequest" nillable="true" type="tns:BonusFullClaroClientRequest" />
  <xs:complexType name="BonusFullClaroClientMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:BonusFullClaroClientBodyRequest" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:BonusFullClaroClientHeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BonusFullClaroClientMessageRequest" nillable="true" type="tns:BonusFullClaroClientMessageRequest" />
  <xs:complexType name="BonusFullClaroClientBodyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="nroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BonusFullClaroClientBodyRequest" nillable="true" type="tns:BonusFullClaroClientBodyRequest" />
  <xs:complexType name="BonusFullClaroClientHeaderRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" minOccurs="0" name="HeaderRequest" nillable="true" type="q2:HeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BonusFullClaroClientHeaderRequest" nillable="true" type="tns:BonusFullClaroClientHeaderRequest" />
  <xs:complexType name="BonusFullClaroClientResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:BonusFullClaroClientMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BonusFullClaroClientResponse" nillable="true" type="tns:BonusFullClaroClientResponse" />
  <xs:complexType name="BonusFullClaroClientMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:BonusFullClaroClientBodyResponse" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:BonusFullClaroClientHeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BonusFullClaroClientMessageResponse" nillable="true" type="tns:BonusFullClaroClientMessageResponse" />
  <xs:complexType name="BonusFullClaroClientBodyResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" minOccurs="0" name="Fault" nillable="true" type="q3:Fault" />
      <xs:element minOccurs="0" name="bonoElegido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bonoLinea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoEtiqueta1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreEtiqueta1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BonusFullClaroClientBodyResponse" nillable="true" type="tns:BonusFullClaroClientBodyResponse" />
  <xs:complexType name="BonusFullClaroClientHeaderResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" minOccurs="0" name="HeaderResponse" nillable="true" type="q4:HeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BonusFullClaroClientHeaderResponse" nillable="true" type="tns:BonusFullClaroClientHeaderResponse" />
</xs:schema>