NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService9815.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetMotiveCancellation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetMotiveCancellation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:complexType name="MotiveCancellationRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MotiveCancellationRequest" nillable="true" type="tns:MotiveCancellationRequest" />
  <xs:complexType name="MotiveCancellationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotiveCancellation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MotiveCancellationResponse" nillable="true" type="tns:MotiveCancellationResponse" />
</xs:schema>