NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService9818.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetRelationPlans.RelationPlanCorporate.GetDocumentSolicitude" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetRelationPlans.RelationPlanCorporate.GetDocumentSolicitude" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd34" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" />
  <xs:complexType name="DocumentSolicitudeRequests">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:DocumentSolicitudeMessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocumentSolicitudeRequests" nillable="true" type="tns:DocumentSolicitudeRequests" />
  <xs:complexType name="DocumentSolicitudeMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:DocumentSolicitudeBodyRequest" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q2:HeadersRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentSolicitudeMessageRequest" nillable="true" type="tns:DocumentSolicitudeMessageRequest" />
  <xs:complexType name="DocumentSolicitudeBodyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puerto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentSolicitudeBodyRequest" nillable="true" type="tns:DocumentSolicitudeBodyRequest" />
  <xs:complexType name="DocumentSolicitudeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:DocumentSolicitudeMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentSolicitudeResponse" nillable="true" type="tns:DocumentSolicitudeResponse" />
  <xs:complexType name="DocumentSolicitudeMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:DocumentSolicitudeBodyResponse" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q3:HeadersResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentSolicitudeMessageResponse" nillable="true" type="tns:DocumentSolicitudeMessageResponse" />
  <xs:complexType name="DocumentSolicitudeBodyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reporte" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentSolicitudeBodyResponse" nillable="true" type="tns:DocumentSolicitudeBodyResponse" />
</xs:schema>