NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetTypeProductDat.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetTypeProductDat.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="response.CaracteristicaAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="response.CaracteristicaAdicional" nillable="true" type="tns:response.CaracteristicaAdicional" />
</xs:schema>