NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetFixedChargeTimProBagDetailThree" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetFixedChargeTimProBagDetailThree" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="FixedChargeTimProBagDetailThreeRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroupBox" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FixedChargeTimProBagDetailThreeRequestPostPaid" nillable="true" type="tns:FixedChargeTimProBagDetailThreeRequestPostPaid" />
  <xs:complexType name="FixedChargeTimProBagDetailThreeResponsePostPaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ListFixedChargeTimProBagDetailThree" nillable="true" type="q2:ArrayOfFixedChargeTimProBagDetailThreePostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FixedChargeTimProBagDetailThreeResponsePostPaid" nillable="true" type="tns:FixedChargeTimProBagDetailThreeResponsePostPaid" />
</xs:schema>