NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetHistorySIM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetHistorySIM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="HistorySIMRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="flagconvivencia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strFechaMigracion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strPlataforma" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistorySIMRequestPostPaid" nillable="true" type="tns:HistorySIMRequestPostPaid" />
  <xs:complexType name="HistorySIMResponsePostPaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ListHistorySIM" nillable="true" type="q2:ArrayOfHistorySIMPostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistorySIMResponsePostPaid" nillable="true" type="tns:HistorySIMResponsePostPaid" />
</xs:schema>