NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService59.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetSMSDetails" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetSMSDetails" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="SMSDetailsRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SMSDetailsRequestPostPaid" nillable="true" type="tns:SMSDetailsRequestPostPaid" />
  <xs:complexType name="SMSDetailsResponsePostPaid">
    <xs:sequence>
      <xs:element minOccurs="0" name="DecCantidadSMS" type="xs:decimal" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ListCallDetail" nillable="true" type="q2:ArrayOfCallDetailSMSPostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMSDetailsResponsePostPaid" nillable="true" type="tns:SMSDetailsResponsePostPaid" />
</xs:schema>