NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService9825.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetMiClaroApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetMiClaroApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd34" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" />
  <xs:complexType name="MiClaroAppRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:MessageRequestAppMiclaro" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MiClaroAppRequest" nillable="true" type="tns:MiClaroAppRequest" />
  <xs:complexType name="MessageRequestAppMiclaro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:BodyAppMiClaroRequest" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q2:HeadersRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageRequestAppMiclaro" nillable="true" type="tns:MessageRequestAppMiclaro" />
  <xs:complexType name="BodyAppMiClaroRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroLinea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BodyAppMiClaroRequest" nillable="true" type="tns:BodyAppMiClaroRequest" />
  <xs:complexType name="MiClaroAppResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:MessageResponseAppMiClaro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MiClaroAppResponse" nillable="true" type="tns:MiClaroAppResponse" />
  <xs:complexType name="MessageResponseAppMiClaro">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" nillable="true" type="tns:BodyAppMiClaroResponse" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Common.GetDataPower" minOccurs="0" name="header" nillable="true" type="q3:HeadersResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageResponseAppMiClaro" nillable="true" type="tns:MessageResponseAppMiClaro" />
  <xs:complexType name="BodyAppMiClaroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datosAppClaro" nillable="true" type="tns:DataAppMiClaro" />
      <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BodyAppMiClaroResponse" nillable="true" type="tns:BodyAppMiClaroResponse" />
  <xs:complexType name="DataAppMiClaro">
    <xs:sequence>
      <xs:element minOccurs="0" name="flagAppClaro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroLinea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataAppMiClaro" nillable="true" type="tns:DataAppMiClaro" />
</xs:schema>