NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetFixedChargeDetailTimProOne" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetFixedChargeDetailTimProOne" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="FixedChargeDetailTimProOneRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroupBox" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FixedChargeDetailTimProOneRequestPostPaid" nillable="true" type="tns:FixedChargeDetailTimProOneRequestPostPaid" />
  <xs:complexType name="FixedChargeDetailTimProOneResponsePostPaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ListFixedChargeDetailTimProOne" nillable="true" type="q2:ArrayOfFixedChargeDetailTimProOnePostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FixedChargeDetailTimProOneResponsePostPaid" nillable="true" type="tns:FixedChargeDetailTimProOneResponsePostPaid" />
</xs:schema>