NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService9813.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetTotalMbPurchasedPackage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetTotalMbPurchasedPackage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd106" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" />
  <xs:complexType name="TotalMbPurchasedPackageRequestPospaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="objAudit" nillable="true" type="q1:AuditRequest" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" minOccurs="0" name="objPackageODCS" nillable="true" type="q2:PackageODCSPrePaid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TotalMbPurchasedPackageRequestPospaid" nillable="true" type="tns:TotalMbPurchasedPackageRequestPospaid" />
  <xs:complexType name="TotalMbPurchasedPackageResponsePospaid">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlagOne" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsVisibleMensaje" type="xs:boolean" />
      <xs:element minOccurs="0" name="TotalMBCicle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRows" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" minOccurs="0" name="lstPackageODCS" nillable="true" type="q3:ArrayOfPackageODCSPrePaid" />
      <xs:element minOccurs="0" name="strMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strMensajeAlert" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TotalMbPurchasedPackageResponsePospaid" nillable="true" type="tns:TotalMbPurchasedPackageResponsePospaid" />
</xs:schema>