NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService40.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetFixedChargeDetailTimMaxTwo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetFixedChargeDetailTimMaxTwo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="FixedChargeDetailTimMaxTwoRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroupBox" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FixedChargeDetailTimMaxTwoRequestPostPaid" nillable="true" type="tns:FixedChargeDetailTimMaxTwoRequestPostPaid" />
  <xs:complexType name="FixedChargeDetailTimMaxTwoResponsePostPaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ListFixedChargeDetailTimMaxTwo" nillable="true" type="q2:ArrayOfFixedChargeDetailTimMaxTwoPostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FixedChargeDetailTimMaxTwoResponsePostPaid" nillable="true" type="tns:FixedChargeDetailTimMaxTwoResponsePostPaid" />
</xs:schema>