NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetTypeProductDatOut" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetTypeProductDatOut" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetTypeProductDat.Common" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetTypeProductDat.Response" />
  <xs:complexType name="outTypeProductDat">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoidDat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdStateLine" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetTypeProductDat.Common" minOccurs="0" name="ListaOpcionalDat" nillable="true" type="q1:ArrayOflistaOpcional" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetTypeProductDat.Response" minOccurs="0" name="OutCaractAdi" nillable="true" type="q2:response.CaracteristicaAdicional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="outTypeProductDat" nillable="true" type="tns:outTypeProductDat" />
</xs:schema>