NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetMonitoringCases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetMonitoringCases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="MonitoringCasesRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CaseId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerAccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateFrom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateTo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MonitoringCasesRequestPostPaid" nillable="true" type="tns:MonitoringCasesRequestPostPaid" />
  <xs:complexType name="MonitoringCasesResponsePostPaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ListMonitoringCases" nillable="true" type="q2:ArrayOfMonitoringCasesPostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringCasesResponsePostPaid" nillable="true" type="tns:MonitoringCasesResponsePostPaid" />
</xs:schema>