NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService989.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetMbBag" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetMbBag" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="MbBagRequestPospaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="objAudit" nillable="true" type="q1:AuditRequest" />
          <xs:element minOccurs="0" name="strCustomerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strMsidn" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MbBagRequestPospaid" nillable="true" type="tns:MbBagRequestPospaid" />
  <xs:complexType name="MbBagResponsePospaid">
    <xs:sequence>
      <xs:element minOccurs="0" name="claroPuntos" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="lstRecharge" nillable="true" type="q2:ArrayOfRechargePostPaid" />
      <xs:element minOccurs="0" name="strCodigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strMbAvailable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strMensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MbBagResponsePospaid" nillable="true" type="tns:MbBagResponsePospaid" />
</xs:schema>