NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService9810.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PackageODCSPrePaid">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcquisitionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConvergedCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatePost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionPackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDatePost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FamilyPackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPurchase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MBAvailable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MBConsumed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MBTotal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameBag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeBalance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypePackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypePurchase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeValidity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="coIdPub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mbincDES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="validity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageODCSPrePaid" nillable="true" type="tns:PackageODCSPrePaid" />
  <xs:complexType name="ArrayOfPackageODCSPrePaid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageODCSPrePaid" nillable="true" type="tns:PackageODCSPrePaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageODCSPrePaid" nillable="true" type="tns:ArrayOfPackageODCSPrePaid" />
</xs:schema>