NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService88.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetComputerQuery" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetComputerQuery" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="ComputerQueryRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComputerQueryRequestPostPaid" nillable="true" type="tns:ComputerQueryRequestPostPaid" />
  <xs:complexType name="ComputerQueryResponsePostPaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="Decos" nillable="true" type="q2:ArrayOfDecoPostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComputerQueryResponsePostPaid" nillable="true" type="tns:ComputerQueryResponsePostPaid" />
</xs:schema>