NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetRelationPlanHFCLTE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetRelationPlanHFCLTE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="RelationPlanHFCLTERequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Aplication" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RelationPlanHFCLTERequestPostPaid" nillable="true" type="tns:RelationPlanHFCLTERequestPostPaid" />
  <xs:complexType name="RelationPlanHFCLTEResponsePostPaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ListEquipment" nillable="true" type="q2:ArrayOfEquipmentPostPaid" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ListServiceGSMAccount" nillable="true" type="q3:ArrayOfServiceGSMAccountPostPaid" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ListServiceHFCAccount" nillable="true" type="q4:ArrayOfServiceHFCAccountPostPaid" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ListServiceLTEAccount" nillable="true" type="q5:ArrayOfServiceLTEAccountPostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelationPlanHFCLTEResponsePostPaid" nillable="true" type="tns:RelationPlanHFCLTEResponsePostPaid" />
</xs:schema>