NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService9811.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetTypePackage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetTypePackage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd30" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity" />
  <xs:complexType name="TypePakageRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Plataforma" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TypePakageRequestCommon" nillable="true" type="tns:TypePakageRequestCommon" />
  <xs:complexType name="TypePakageResponseCommon">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity" minOccurs="0" name="ListItem" nillable="true" type="q2:ArrayOfListItem" />
      <xs:element xmlns:q3="Claro" minOccurs="0" name="objAudit" nillable="true" type="q3:AuditRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypePakageResponseCommon" nillable="true" type="tns:TypePakageResponseCommon" />
</xs:schema>