NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetPetitions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetPetitions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="PetitionstRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Application" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContractId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PetitionType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="coIdPub" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="flagConvivencia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="flagPlataforma" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="migrado" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PetitionstRequestPostPaid" nillable="true" type="tns:PetitionstRequestPostPaid" />
  <xs:complexType name="PetitionResponsePostPaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="Petitions" nillable="true" type="q2:ArrayOfPetitionstPostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PetitionResponsePostPaid" nillable="true" type="tns:PetitionResponsePostPaid" />
</xs:schema>