NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetIMRConsult" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetIMRConsult" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:complexType name="IMRRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillingCycle" type="xs:int" />
          <xs:element minOccurs="0" name="ContractId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IMRAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IMRTotalAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Segment" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IMRRequestPostPaid" nillable="true" type="tns:IMRRequestPostPaid" />
  <xs:complexType name="IMRResponsePostPaid">
    <xs:sequence>
      <xs:element minOccurs="0" name="IMRAmount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IMRResponsePostPaid" nillable="true" type="tns:IMRResponsePostPaid" />
</xs:schema>