NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService94.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetStockWarehouse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetStockWarehouse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="StockWarehouseRequestDashboard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strDescripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strSerie" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StockWarehouseRequestDashboard" nillable="true" type="tns:StockWarehouseRequestDashboard" />
  <xs:complexType name="StockWarehouseResponseDashboard">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="listStockWarehouse" nillable="true" type="q2:ArrayOfStockWarehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockWarehouseResponseDashboard" nillable="true" type="tns:StockWarehouseResponseDashboard" />
</xs:schema>