NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService9827.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetValidateLine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.Legacy.GetValidateLine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetValidateLineRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="validarLineaRequest" nillable="true" type="tns:validarLineaRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetValidateLineRequest" nillable="true" type="tns:GetValidateLineRequest" />
  <xs:complexType name="validarLineaRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="validarLineaRequest" nillable="true" type="tns:validarLineaRequest" />
  <xs:complexType name="GetValidateLineResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="validarLineaResponse" nillable="true" type="tns:validarLineaResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetValidateLineResponse" nillable="true" type="tns:GetValidateLineResponse" />
  <xs:complexType name="validarLineaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="responseAudit" nillable="true" type="tns:responseAudit" />
      <xs:element minOccurs="0" name="responseData" nillable="true" type="tns:responseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="validarLineaResponse" nillable="true" type="tns:validarLineaResponse" />
  <xs:complexType name="responseAudit">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseAudit" nillable="true" type="tns:responseAudit" />
  <xs:complexType name="responseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEtiqueta1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoEtiqueta2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaOpcional" nillable="true" type="tns:ArrayOfListaOpcional" />
      <xs:element minOccurs="0" name="nombreEtiqueta1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreEtiqueta2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseData" nillable="true" type="tns:responseData" />
  <xs:complexType name="ArrayOfListaOpcional">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaOpcional" nillable="true" type="tns:ListaOpcional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListaOpcional" nillable="true" type="tns:ArrayOfListaOpcional" />
  <xs:complexType name="ListaOpcional">
    <xs:sequence>
      <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaOpcional" nillable="true" type="tns:ListaOpcional" />
</xs:schema>