NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetContactTypeByField" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetContactTypeByField" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="ContactTypeByFieldRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactTypeByFieldRequestPostPaid" nillable="true" type="tns:ContactTypeByFieldRequestPostPaid" />
  <xs:complexType name="ContactTypeByFieldResponsePostPaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="lstContactTypeByField" nillable="true" type="q2:ArrayOfContactTypeByFieldPostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactTypeByFieldResponsePostPaid" nillable="true" type="tns:ContactTypeByFieldResponsePostPaid" />
</xs:schema>