NET/Claro.SIACU.Web.WebApplication/Service References/PostpaidService/PostpaidService74.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetInternationalRoamingDetail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid.GetInternationalRoamingDetail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd4" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PostpaidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" />
  <xs:complexType name="InternationalRoamingDetailRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InternationalRoamingDetailRequestPostPaid" nillable="true" type="tns:InternationalRoamingDetailRequestPostPaid" />
  <xs:complexType name="InternationalRoamingDetailResponsePostPaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Postpaid" minOccurs="0" name="ListCallDetail" nillable="true" type="q2:ArrayOfCallDetailPostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InternationalRoamingDetailResponsePostPaid" nillable="true" type="tns:InternationalRoamingDetailResponsePostPaid" />
</xs:schema>