NET/Claro.SIACU.ProxyService/Service References/SIACPost.DocumentoFisicoV3/ebsDocumentosFisicoSB111.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/postventa/documentosfisicows/types" xmlns:base="http://claro.com.pe/eai/ws/baseschemaws" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/postventa/documentosfisicows/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://localhost:20000/DocumentoFisicoWSV3/ebsDocumentosFisicoSB11?xsd=1" namespace="http://claro.com.pe/eai/ws/baseschemaws" />
  <xsd:import schemaLocation="http://localhost:20000/DocumentoFisicoWSV3/ebsDocumentosFisicoSB11?xsd=3" namespace="http://claro.com.pe/eai/ws/baseschemaws" />
  <xsd:element name="obtenerDocumentoFisicoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditoria" type="base:AuditRequestType" />
        <xsd:element name="identificadorUsuarioRequest" type="base:IdentificadorUsuarioRequestType" />
        <xsd:element name="categoria" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="idProductoServicio" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="idDireccion" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="idCuenta" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="idRecibo" type="xsd:string" />
        <xsd:element name="idReciboProducto" type="xsd:string" />
        <xsd:element name="periodoRecibo" type="xsd:string" />
        <xsd:element name="numeroRecibo" type="xsd:string" />
        <xsd:element name="idReciboOnBase" type="xsd:string" />
        <xsd:element name="tipoReciboDocumentoPago" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerDocumentoFisicoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="documento" type="xsd:base64Binary" />
        <xsd:element name="defaultServiceResponse" type="base:DefaultServiceResponse" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>