NET/Claro.SIACU.ProxyService/Service References/SIACPost.DocumentoFisicoV3/ebsDocumentosFisicoSB11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/baseschemaws" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/baseschemaws" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AuditRequestType">
    <xsd:sequence>
      <xsd:element name="idTransaccional" type="xsd:string" />
      <xsd:element name="fecha" type="xsd:date" />
      <xsd:element name="hora" type="xsd:time" />
      <xsd:element name="ipOrigen" type="xsd:string" />
      <xsd:element name="nombrePC" type="xsd:string" />
      <xsd:element name="usuarioLogueado" type="xsd:string" />
      <xsd:element name="usuarioDueno" type="xsd:string" />
      <xsd:element name="usuarioVinculado" type="xsd:string" />
      <xsd:element name="idAplicacionSolicitante" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DefaultServiceResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="categoria" type="xsd:integer" />
      <xsd:element name="idRespuesta" type="xsd:string" />
      <xsd:element name="mensaje" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="excepcion" type="xsd:string" />
      <xsd:element name="idTransaccional" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="parametrosType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="objetoOpcional">
        <xsd:complexType>
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>