NET/Claro.SIACU.ProxyService/Service References/SIACPost.RestricTethecVeloc/RestricTetheVelocWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:header="http://claro.com.pe/generic/messageFormat/v1.0/" xmlns:tns="http://claro.com.pe/eai/tarificacion/restrictetheveloc/v1/consultarTetheDegVeloc" xmlns:fault="http://claro.com.pe/eai/ebs/xsd/CommonsException" xmlns:ns1="http://claro.com.pe/eai/services/restrictethevelocws/ws/types/schema" xmlns:header2="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" name="RestricTetheVelocWS" targetNamespace="http://claro.com.pe/eai/tarificacion/restrictetheveloc/v1/consultarTetheDegVeloc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="../esquemas/consultarTetheDegVeloc.xsd" namespace="http://claro.com.pe/eai/services/restrictethevelocws/ws/types/schema" />
    </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="../esquemas/HeaderGeneric_v1.0.xsd" namespace="http://claro.com.pe/generic/messageFormat/v1.0/" />
    </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="../esquemas/headers_v1.xsd" namespace="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" />
    </schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="../esquemas/CommonsException.xsd" namespace="http://claro.com.pe/eai/ebs/xsd/CommonsException" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="consultarTetheDegVelocRequestMessage">
    <wsdl:part name="consultarTetheDegVelocRequest" element="ns1:consultarTetheDegVelocRequest" />
  </wsdl:message>
  <wsdl:message name="consultarTetheDegVelocResponseMessage">
    <wsdl:part name="consultarTetheDegVelocResponse" element="ns1:consultarTetheDegVelocResponse" />
  </wsdl:message>
  <wsdl:message name="requestHeaderMessage">
    <wsdl:part name="header" element="header:HeaderRequest" />
    <wsdl:part name="header2" element="header2:headerRequest" />
  </wsdl:message>
  <wsdl:message name="responseHeaderMessage">
    <wsdl:part name="header" element="header:HeaderResponse" />
    <wsdl:part name="header2" element="header2:headerResponse" />
  </wsdl:message>
  <wsdl:message name="claroFault">
    <wsdl:part name="claroFault" element="fault:IntegrationError" />
  </wsdl:message>
  <wsdl:portType name="RestricTetheVelocWSPortType">
    <wsdl:operation name="consultarTetheDegVeloc">
      <wsdl:input message="tns:consultarTetheDegVelocRequestMessage" />
      <wsdl:output message="tns:consultarTetheDegVelocResponseMessage" />
      <wsdl:fault name="fault" message="tns:claroFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RestricTetheVelocWSPortTypeSOAP11Binding" type="tns:RestricTetheVelocWSPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultarTetheDegVeloc">
      <soap11:operation soapAction="http://claro.com.pe/eai/ebs/services/restrictethevelocws/ws/consultarTetheDegVeloc" style="document" />
      <wsdl:input>
        <soap11:header message="tns:requestHeaderMessage" part="header" use="literal" />
        <soap11:header message="tns:requestHeaderMessage" part="header2" use="literal" />
        <soap11:body use="literal" parts="consultarTetheDegVelocRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap11:header message="tns:responseHeaderMessage" part="header" use="literal" />
        <soap11:header message="tns:responseHeaderMessage" part="header2" use="literal" />
        <soap11:body use="literal" parts="consultarTetheDegVelocResponse" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap11:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RestricTetheVelocWSPortTypeSOAP12Binding" type="tns:RestricTetheVelocWSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultarTetheDegVeloc">
      <soap12:operation soapAction="http://claro.com.pe/eai/ebs/services/restrictethevelocws/ws/consultarTetheDegVeloc" style="document" />
      <wsdl:input>
        <soap12:header message="tns:requestHeaderMessage" part="header" use="literal" />
        <soap12:header message="tns:requestHeaderMessage" part="header2" use="literal" />
        <soap12:body use="literal" parts="consultarTetheDegVelocRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:responseHeaderMessage" part="header" use="literal" />
        <soap12:header message="tns:responseHeaderMessage" part="header2" use="literal" />
        <soap12:body use="literal" parts="consultarTetheDegVelocResponse" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap12:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestricTetheVelocWS">
    <wsdl:port name="restricTetheVelocSOAP11" binding="tns:RestricTetheVelocWSPortTypeSOAP11Binding">
      <soap11:address location="http://claro.com.pe/eai/tarificacion/restricTetheVeloc/v1/" />
    </wsdl:port>
    <wsdl:port name="restricTetheVelocSOAP12" binding="tns:RestricTetheVelocWSPortTypeSOAP12Binding">
      <soap12:address location="http://claro.com.pe/eai/tarificacion/restricTetheVeloc/v1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>