NET/Claro.SIACU.ProxyService/Service References/SIAC.ParamaetrosClarify/ebsParametrosClarifySOAP11Port.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/services/parametrosclarify/ws/types/schema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/services/parametrosclarify/ws/types/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="parametrosClarifyRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="auditRequest" type="AuditRequestType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="ListaCamposOpcionalesType" />
        <xsd:element name="tipoProceso" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="parametrosClarifyResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="auditResponse" type="AuditResponseType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="ListaCamposOpcionalesType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaDatosParametroClarify" type="listaDatosParametrosClarifyType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AuditRequestType">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="ipAplicacion" type="xsd:string" />
      <xsd:element name="nombreAplicacion" type="xsd:string" />
      <xsd:element name="usuarioAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditResponseType">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="codigoRespuesta" type="xsd:string" />
      <xsd:element name="mensajeRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaCamposOpcionalesType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="campoOpcional">
        <xsd:complexType>
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listaDatosParametrosClarifyType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="DatosParametrosClarify" type="DatosParametrosClarifyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatosParametrosClarifyType">
    <xsd:sequence>
      <xsd:element name="tipoProceso" type="xsd:string" />
      <xsd:element name="datoEvalua" type="xsd:string" />
      <xsd:element name="parametro1" type="xsd:string" />
      <xsd:element name="parametro2" type="xsd:string" />
      <xsd:element name="estado" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>