NET/Claro.SIACU.ProxyService/Service References/SIACPost.DetalleAjuste/ebsDetalleDocAjusteSB118.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/postventa/ebsdetalledocajuste/types" xmlns:base="http://claro.com.pe/eai/ws/baseschema" xmlns:cc="http://claro.com.pe/eai/ws/postventa/ebsdetalledocajuste/types" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/postventa/ebsdetalledocajuste/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://limdeseaiv19.tim.com.pe:8909/ebsDetalleDocAjuste/ebsDetalleDocAjusteSB11?xsd=1" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:include schemaLocation="http://limdeseaiv19.tim.com.pe:8909/ebsDetalleDocAjuste/ebsDetalleDocAjusteSB11?xsd=2" />
  <xsd:complexType name="ListaRegistroDetDocumType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="registroDetDocum" type="cc:RegistroDetDocumType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegistroDetDocumType">
    <xsd:sequence>
      <xsd:element name="idDocAut" type="xsd:string" />
      <xsd:element name="importe" type="xsd:string" />
      <xsd:element name="montoSinIGV" type="xsd:string" />
      <xsd:element name="igv" type="xsd:string" />
      <xsd:element name="total" type="xsd:string" />
      <xsd:element name="telefono" type="xsd:string" />
      <xsd:element name="fechaDesde" type="xsd:string" />
      <xsd:element name="fechaHasta" type="xsd:string" />
      <xsd:element name="idCategoria" type="xsd:string" />
      <xsd:element name="subcategoria" type="xsd:string" />
      <xsd:element name="tipoTran" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="registrarDetalleDocRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="numDocAjuste" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRegistroDetDocum" type="cc:ListaRegistroDetDocumType" />
        <xsd:element name="listaDetDocAdicional" type="cc:ListaDetDocAdicionalType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="registrarDetalleDocResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>