NET/Claro.SIACU.ProxyService/Service References/SIACPost.DetalleAjuste/ebsDetalleDocAjusteSB116.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/postventa/ebsdetalledocajuste/types" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/postventa/ebsdetalledocajuste/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ListaDetDocAdicionalType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="detDocAdicional" type="DetDocAdicionalType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DetDocAdicionalType">
    <xsd:sequence>
      <xsd:element name="idDocAut" type="xsd:string" />
      <xsd:element name="idCategoria" type="xsd:string" />
      <xsd:element name="nombreCategoria" type="xsd:string" />
      <xsd:element name="importe" type="xsd:string" />
      <xsd:element name="importeAjustar" type="xsd:string" />
      <xsd:element name="igvImporteAjustarIgv" type="xsd:string" />
      <xsd:element name="importeAjustarIgv" type="xsd:string" />
      <xsd:element name="idAreaImputar" type="xsd:string" />
      <xsd:element name="nombreAreaImputar" type="xsd:string" />
      <xsd:element name="idMotivo" type="xsd:string" />
      <xsd:element name="nombreMotivo" type="xsd:string" />
      <xsd:element name="idResponsable" type="xsd:string" />
      <xsd:element name="nombreResponsable" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>