NET/Claro.SIACU.ProxyService/Service References/SIACU.CustomerInfo/bssCustomerManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N14="http://claro.com.pe/esb/message/bssCustomerManagement/getCustomerInfo/v2/" xmlns:WL5G3N16="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" xmlns:WL5G3N17="http://claro.com.pe/esb/customer/bssCustomerManagement/v2/" xmlns:WL5G3N18="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N15="http://claro.com.pe/esb/data/commonBusinessEntities/claroFault/v2/" xmlns:dp="http://claro.com.pe/generic/messageFormat/v1.0/" name="bssCustomerManagement" targetNamespace="http://claro.com.pe/esb/customer/bssCustomerManagement/v2/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:tns="http://claro.com.pe/esb/customer/bssCustomerManagement/v2/" xmlns:hd="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" xmlns:cugecuv2="http://claro.com.pe/esb/message/bssCustomerManagement/getCustomerInfo/v2/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:fl="http://claro.com.pe/esb/data/commonBusinessEntities/claroFault/v2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="../../../../../tecnologia/framework/servicios/esquemas/HeaderGeneric_v1.0.xsd" namespace="http://claro.com.pe/generic/messageFormat/v1.0/" />
      <xsd:import schemaLocation="../../../../../tecnologia/framework/servicios/esquemas/CommonsException.xsd" namespace="http://claro.com.pe/eai/ebs/xsd/CommonsException" />
      <xsd:import schemaLocation="../esquemas/getCustomerInfo.xsd" namespace="http://claro.com.pe/esb/message/bssCustomerManagement/getCustomerInfo/v2/" />
      <xsd:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/CommonBusinessEntities/ClaroFault_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/claroFault/v2/" />
      <xsd:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/CommonBusinessEntities/ClaroGenericHeaders_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="GetCustomerInfoRequestMessage">
    <WL5G3N0:part name="GetCustomerInfoRequestMessage" element="WL5G3N14:GetCustomerInfoRequestMessage" />
  </WL5G3N0:message>
  <WL5G3N0:message name="GetCustomerInfoResponseMessage">
    <WL5G3N0:part name="GetCustomerInfoResponseMessage" element="WL5G3N14:GetCustomerInfoResponseMessage" />
  </WL5G3N0:message>
  <WL5G3N0:message name="claroFault">
    <WL5G3N0:part name="claroFault" element="WL5G3N15:claroFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerRequest">
    <WL5G3N0:part name="headerReq" element="WL5G3N16:headerRequest" />
    <WL5G3N0:part name="HeaderRequest" element="dp:HeaderRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerResponse">
    <WL5G3N0:part name="headerResp" element="WL5G3N16:headerResponse" />
    <WL5G3N0:part name="HeaderResponse" element="dp:HeaderResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="BssCustomerManagementPort">
    <WL5G3N0:operation name="getCustomerInfo">
      <WL5G3N0:input message="WL5G3N17:GetCustomerInfoRequestMessage" />
      <WL5G3N0:output message="WL5G3N17:GetCustomerInfoResponseMessage" />
      <WL5G3N0:fault name="claroFault" message="WL5G3N17:claroFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="BssCustomerManagementSoap11Binding" type="WL5G3N17:BssCustomerManagementPort">
    <WL5G3N18:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="getCustomerInfo">
      <WL5G3N18:operation soapAction="http://claro.com.pe/esb/message/bssCustomerManagement/getCustomerInfo/v2/" style="document" />
      <WL5G3N0:input>
        <WL5G3N18:body use="literal" />
        <WL5G3N18:header message="WL5G3N17:headerRequest" part="headerReq" use="literal" />
        <WL5G3N18:header message="WL5G3N17:headerRequest" part="HeaderRequest" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N18:body use="literal" />
        <WL5G3N18:header message="WL5G3N17:headerResponse" part="headerResp" use="literal" />
        <WL5G3N18:header message="WL5G3N17:headerResponse" part="HeaderResponse" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="claroFault">
        <WL5G3N18:fault use="literal" name="claroFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="BssCustomerManagement">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="BssCustomerManagementPort" binding="WL5G3N17:BssCustomerManagementSoap11Binding">
      <WL5G3N18:address location="http://localhost:24000/esb/customer/bssCustomerManagement/v2/" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>