NET/Claro.SIACU.ProxyService/Service References/SIACU.CustomerInfo/getCustomerInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entressta="http://claro.com.pe/esb/data/commonBusinessEntities/responseStatus/v2/" xmlns:entpar="http://claro.com.pe/esb/data/engagedParty/party/v2/" xmlns:entbastyp="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" xmlns:cugecuv2="http://claro.com.pe/esb/message/bssCustomerManagement/getCustomerInfo/v2/" xmlns:entcus="http://claro.com.pe/esb/data/customer/customer/v2/" xmlns:entuseandrol="http://claro.com.pe/esb/data/commonBusinessEntities/usersAndRoles/v2/" targetNamespace="http://claro.com.pe/esb/message/bssCustomerManagement/getCustomerInfo/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/Customer/Customer_v2.xsd" namespace="http://claro.com.pe/esb/data/customer/customer/v2/" />
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/CommonBusinessEntities/ResponseStatus_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/responseStatus/v2/" />
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/CommonBusinessEntities/UsersAndRoles_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/usersAndRoles/v2/" />
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/EngagedParty/Party_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/party/v2/" />
  <xs:import schemaLocation="../../../../../tecnologia/framework/UT_MODELO_ONTOLOGICO/v2/Entidades/CommonBusinessEntities/BaseTypes_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" />
  <xs:element name="GetCustomerInfoRequestMessage" type="cugecuv2:GetCustomerInfoRequestType" />
  <xs:element name="GetCustomerInfoResponseMessage" type="cugecuv2:GetCustomerInfoResponseType" />
  <xs:complexType name="GetCustomerInfoRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_customerAccount" type="entcus:CustomerAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCustomerInfoResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="responseStatus" type="entressta:ResponseStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="responseData" type="cugecuv2:ResponseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListSocialNetworksType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_individualIdentification" type="entpar:IndividualIdentification" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListSpecialCasesType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_customerAccount" type="entcus:CustomerAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_customerAccount" type="entcus:CustomerAccount" />
      <xs:element minOccurs="0" maxOccurs="1" name="_organization" type="entpar:Organization" />
      <xs:element minOccurs="0" maxOccurs="1" name="_individualIdentification" type="entpar:IndividualIdentification" />
      <xs:element minOccurs="0" maxOccurs="1" name="_partyUser" type="entuseandrol:PartyUser" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_telephoneNumber" type="entpar:TelephoneNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="_faxNumber" type="entpar:FaxNumber" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_listSocialNetworksType" type="cugecuv2:ListSocialNetworksType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_listSpecialCases" type="cugecuv2:ListSpecialCasesType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>