NET/Claro.SIACU.ProxyService/Service References/SIACU.CustomerInfo/PartyOrder_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entbastyp="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" xmlns:entparord="http://claro.com.pe/esb/data/engagedParty/partyOrder/v2/" xmlns:entengparext="http://claro.com.pe/esb/data/engagedParty/engagedPartyExtension/v2/" xmlns:entpar="http://claro.com.pe/esb/data/engagedParty/party/v2/" xmlns:entaddparent="http://claro.com.pe/esb/data/engagedParty/additionalPartyEntities/v2/" xmlns:entprod="http://claro.com.pe/esb/data/product/product/v2/" xmlns:entbusint="http://claro.com.pe/esb/data/commonBusinessEntities/businessInteraction/v2/" xmlns:entprospe="http://claro.com.pe/esb/data/product/productSpecification/v2/" xmlns:entparrev="http://claro.com.pe/esb/data/engagedParty/partyRevenue/v2/" xmlns:entcusord="http://claro.com.pe/esb/data/customer/customerOrder/v2/" targetNamespace="http://claro.com.pe/esb/data/engagedParty/partyOrder/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="EngagedPartyExtension_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/engagedPartyExtension/v2/" />
  <xs:import schemaLocation="../CommonBusinessEntities/BusinessInteraction_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/businessInteraction/v2/" />
  <xs:import schemaLocation="../Customer/CustomerOrder_v2.xsd" namespace="http://claro.com.pe/esb/data/customer/customerOrder/v2/" />
  <xs:import schemaLocation="../Product/Product_v2.xsd" namespace="http://claro.com.pe/esb/data/product/product/v2/" />
  <xs:import schemaLocation="../Product/ProductSpecification_v2.xsd" namespace="http://claro.com.pe/esb/data/product/productSpecification/v2/" />
  <xs:import schemaLocation="AdditionalPartyEntities_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/additionalPartyEntities/v2/" />
  <xs:import schemaLocation="PartyRevenue_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/partyRevenue/v2/" />
  <xs:import schemaLocation="Party_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/party/v2/" />
  <xs:complexType name="PartyOrder">
    <xs:annotation>
      <xs:documentation>A PartyOrder is a type of BusinessInteration that represents a communication used to procure or update one or many Products in the context of a ProductOffering through all its PartyOrderItems.

One or many PartyRoles might be involved in a PartyOrder / PartyOrderItem such as Distributor, Holder, Buyer or DeliveryDriver.

The PartyOrder and PartyOrderItems specify the PartyAccount to which the Products charges will be charged.

A complete PartyOrder or PartyOrderItems might be paid through one or many PartyPayments.

A PartyOrderItem may need other PartyOrderItems to be completed; this dependency is represented through the "/PartyOrderItemRefrencesReferencedBy" relationship.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:Request">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="partyOrderType" type="xs:string">
            <xs:annotation>
              <xs:documentation>An indicatory that specifies the kind of PartyOrder.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="purchaseOrderNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>A number that uniquely identifies a PartyOrder within the ordering Party's enterprise.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="assignedPriority" type="xs:integer">
            <xs:annotation>
              <xs:documentation>The order's assigned priority after review.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="assignedResponsibilityDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The target response date assigned after review.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="dueDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The date upon which the PartyOrder is due for completion.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyOrderItem" type="entparord:PartyOrderItem" />
          <xs:element minOccurs="0" maxOccurs="1" name="_customerOrder" type="entcusord:CustomerOrder" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyRole" type="entpar:PartyRole" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyPayment" type="entparrev:PartyPayment" />
          <xs:element minOccurs="0" maxOccurs="1" name="_partyOrderExtension" type="entengparext:PartyOrderExtension" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyAccount" type="entaddparent:PartyAccount" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyOrderItem">
    <xs:annotation>
      <xs:documentation>The purpose for the Party Order expressed in terms of a Product Offering or a Product (for a change order) inherited from BusinessInteractionItem.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:BusinessInteractionItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="_productSpecification" type="entprospe:ProductSpecification" />
          <xs:element minOccurs="0" maxOccurs="1" name="_partyOrder" type="entparord:PartyOrder" />
          <xs:element minOccurs="0" maxOccurs="1" name="product" type="entprod:Product" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyRole" type="entpar:PartyRole" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyAccount" type="entaddparent:PartyAccount" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="partyPayment" type="entparrev:PartyPayment" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>