NET/Claro.SIACU.ProxyService/Service References/SecurityService/Security1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Claro.Security" elementFormDefault="qualified" targetNamespace="Claro.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55209/Security.svc?xsd=xsd2" namespace="Claro.Security.Logon" />
  <xs:import schemaLocation="http://localhost:55209/Security.svc?xsd=xsd5" namespace="Claro.Security.Options" />
  <xs:element name="Logon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="Claro.Security.Logon" minOccurs="0" name="request" nillable="true" type="q1:LogonRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="Claro.Security.Logon" minOccurs="0" name="LogonResult" nillable="true" type="q2:LogonResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="tns:Option" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOption" nillable="true" type="tns:ArrayOfOption" />
  <xs:complexType name="Option">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element name="parentId" type="xs:int" />
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfOption" />
      <xs:element name="code" nillable="true" type="xs:string" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="url" nillable="true" type="xs:string" />
      <xs:element name="order" type="xs:int" />
      <xs:element name="isDefault" type="xs:boolean" />
      <xs:element name="isExternal" type="xs:boolean" />
      <xs:element name="optionType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Option" nillable="true" type="tns:Option" />
  <xs:element name="GetOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="Claro.Security.Options" minOccurs="0" name="request" nillable="true" type="q3:OptionsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="Claro.Security.Options" minOccurs="0" name="GetOptionsResult" nillable="true" type="q4:OptionsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>