NET/Claro.SIACU.ProxyService/Service References/SecurityService/Security1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Claro.Security" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Claro.Security" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Claro.Security/Imports">
      <xsd:import schemaLocation="http://localhost:55209/Security.svc?xsd=xsd0" namespace="Claro.Security" />
      <xsd:import schemaLocation="http://localhost:55209/Security.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55209/Security.svc?xsd=xsd2" namespace="Claro.Security.Logon" />
      <xsd:import schemaLocation="http://localhost:55209/Security.svc?xsd=xsd3" namespace="Claro" />
      <xsd:import schemaLocation="http://localhost:55209/Security.svc?xsd=xsd4" namespace="AuditService" />
      <xsd:import schemaLocation="http://localhost:55209/Security.svc?xsd=xsd5" namespace="Claro.Security.Options" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecurity_Logon_InputMessage">
    <wsdl:part name="parameters" element="tns:Logon" />
  </wsdl:message>
  <wsdl:message name="ISecurity_Logon_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogonResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurity_GetOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOptions" />
  </wsdl:message>
  <wsdl:message name="ISecurity_GetOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecurity">
    <wsdl:operation name="Logon">
      <wsdl:input wsaw:Action="LogonRequest" message="tns:ISecurity_Logon_InputMessage" />
      <wsdl:output wsaw:Action="LogonResponse" message="tns:ISecurity_Logon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <wsdl:input wsaw:Action="GetOptionsRequest" message="tns:ISecurity_GetOptions_InputMessage" />
      <wsdl:output wsaw:Action="GetOptionsResponse" message="tns:ISecurity_GetOptions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>