NET/Claro.SIACU.Web.WebApplication/Service References/PrepaidService/PrepaidService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid.GetRecordTriationRFA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid.GetRecordTriationRFA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PrepaidService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PrepaidService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" />
  <xs:complexType name="RecordTriationRFARequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateStart" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlanTariff" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RecordTriationRFARequest" nillable="true" type="tns:RecordTriationRFARequest" />
  <xs:complexType name="RecordTriationRFAResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" minOccurs="0" name="listHistoricalTriationRFA" nillable="true" type="q2:ArrayOfHistoricalTriationRFAPrepaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordTriationRFAResponse" nillable="true" type="tns:RecordTriationRFAResponse" />
</xs:schema>