NET/Claro.SIACU.Web.WebApplication/Service References/PrepaidService/PrepaidService19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid.GetSalesData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid.GetSalesData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PrepaidService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PrepaidService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" />
  <xs:complexType name="SalesDataRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ApplicationUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IssueSeries" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Matter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SalesDataRequest" nillable="true" type="tns:SalesDataRequest" />
  <xs:complexType name="SalesDataResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" minOccurs="0" name="objDataSalePEL" nillable="true" type="q2:DataSalePELPrepaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesDataResponse" nillable="true" type="tns:SalesDataResponse" />
</xs:schema>