NET/Claro.SIACU.Web.WebApplication/Service References/PrepaidService/PrepaidService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid.GetInstant" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid.GetInstant" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PrepaidService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PrepaidService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" />
  <xs:complexType name="InstantRequestPrepaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataSearch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeSearch" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InstantRequestPrepaid" nillable="true" type="tns:InstantRequestPrepaid" />
  <xs:complexType name="InstantResponsePrepaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard" minOccurs="0" name="listInstant" nillable="true" type="q2:ArrayOfInstant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstantResponsePrepaid" nillable="true" type="tns:InstantResponsePrepaid" />
</xs:schema>