NET/Claro.SIACU.Web.WebApplication/Service References/PrepaidService/PrepaidService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid.GetHistoricalBonds" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid.GetHistoricalBonds" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PrepaidService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:9593/Dashboard/PrepaidService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" />
  <xs:complexType name="HistoricalBondsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateStart" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistoricalBondsRequest" nillable="true" type="tns:HistoricalBondsRequest" />
  <xs:complexType name="HistoricalBondsResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Dashboard.Prepaid" minOccurs="0" name="listHistoricalBonds" nillable="true" type="q2:ArrayOfHistoricalBondsPrepaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoricalBondsResponse" nillable="true" type="tns:HistoricalBondsResponse" />
</xs:schema>