NET/Claro.SIACU.ProxyService/Service References/SIACPre.BSS_OperacionesINU/MED_OperacionesINU4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.example.org" xmlns:tns="http://claro.com.pe/esb/data/generico/responseDataModificarTarifaAutomatica/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/generico/responseDataModificarTarifaAutomatica/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ResponseDataModificarTarifaAutomatica">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="tns:ResponseOpcionalType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseOpcionalType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="responseOpcional">
        <xsd:complexType>
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>