NET/Claro.SIACU.ProxyService/Service References/SIACPost.RechargesM2M/ebsPaqueteM2MWSPortTypeSB11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/services/paquetem2m/types" xmlns:base="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/services/paquetem2m/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://limdeseaiv25.tim.com.pe:8903/PaqueteM2MWS/ebsPaqueteM2MWSPortTypeSB11?xsd=1" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:element name="consultarSaldoM2MRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="numeroLinea" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarSaldoM2MResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="listaServiciosZona" type="listaServiciosZonaType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="listaServiciosZonaType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="servicioZona" type="servicioZonaType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="servicioZonaType">
    <xsd:sequence>
      <xsd:element name="nombreServicio" type="xsd:string" />
      <xsd:element name="nombreEtiqueta" type="xsd:string" />
      <xsd:element name="saldoConsumido" type="xsd:string" />
      <xsd:element name="saldoRestante" type="xsd:string" />
      <xsd:element name="fechaExpiracion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>