NET/Claro.SIACU.Web.WebApplication/Service References/FileService/FileService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9593/FileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.File.GetFileDefaultImpersonation" />
  <xs:element name="GetFileDefaultImpersonation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.File.GetFileDefaultImpersonation" minOccurs="0" name="objFileDefaultImpersonationRequest" nillable="true" type="q1:FileDefaultImpersonationRequestDashboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileDefaultImpersonationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.File.GetFileDefaultImpersonation" minOccurs="0" name="GetFileDefaultImpersonationResult" nillable="true" type="q2:FileDefaultImpersonationResponseDashboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>