NET/Claro.SIACU.ProxyService/Web References/SIAC.Post.DatosPrePost_V2/ebsConsultaDatosPrePostSB11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/vas/consultadatosprepostv2/types" xmlns:base="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/vas/consultadatosprepostv2/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://limdeseaiv28.tim.com.pe:8909/ConsultaDatosPrePostWS_V2/ebsConsultaDatosPrePostSB11?xsd=1" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:element name="consultarDatosLineaRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="tipoConsulta" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="consultaPrepago" type="base:consultaPrepagoType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="consultaPostpago" type="base:consultaPostpagoType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarDatosLineaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="datoLinea" type="base:datoLineaType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="datosPrepago" type="base:datosPrepagoType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="datosPostpago" type="base:datosPostpagoType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarDatosPrepagoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="tipoConsulta" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaOperacionesConsulta" type="base:listaOperacionesConsultaType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarDatosPrepagoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="datoLinea" type="base:datoLineaType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaOperacionesRespuesta" type="base:listaOperacionesRespuestaType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarDatosPostpagoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="tipoConsulta" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="datosPostpago" type="base:parametrosPostpagoType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarDatosPostpagoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="datoLinea" type="base:datoLineaType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="datosPostpago" type="base:parametrosPostpagoType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarDatosInOdcsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="customerId" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarDatosInOdcsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="TextoMensajeDatosConsulta" type="xsd:string" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="tipoLinea" type="xsd:string" />
        <xsd:element name="tipoCliente" type="xsd:string" />
        <xsd:element name="plataforma" type="xsd:string" />
        <xsd:element name="datosPrepagoConsultaSaldo" type="base:PrepagoConsultaSaldoType" />
        <xsd:element name="datosConsultaDatosPrepago" type="base:ConsultaDatosPrepagoType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarDetalleLlamadasRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="fechaInicial" type="xsd:string" />
        <xsd:element name="fechaFinal" type="xsd:string" />
        <xsd:element name="tipoConsulta" type="xsd:string" />
        <xsd:element name="tipoTrafico" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarDetalleLlamadasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="detalleLlamadas" type="base:listaDetalleLlamadasType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarDetalleRecargasRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="fechaInicial" type="xsd:string" />
        <xsd:element name="fechaFinal" type="xsd:string" />
        <xsd:element name="aplicativo" type="xsd:string" />
        <xsd:element name="tipoConsulta" type="xsd:string" />
        <xsd:element name="tipoMovimiento" type="xsd:string" />
        <xsd:element name="creditoDebito" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarDetalleRecargasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="detalleRecargas" type="base:listaDetalleRecargasType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarHistorialComprasRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="fechaInicial" type="xsd:string" />
        <xsd:element name="fechaFinal" type="xsd:string" />
        <xsd:element name="aplicativo" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarHistorialComprasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditResponseType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="historialCompras" type="base:listaHistorialComprasType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarSaldosPrepagoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarSaldosPrepagoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="unicostResponse" type="base:parametrosUnicosType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaOperacionesConsulta" type="base:listaConsultaSaldoRespuestaType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:listaResponseOpcionalType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarSaldosPostpagoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="codCliente" type="xsd:string" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="customerId" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarSaldosPostpagoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="puntosTotales" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaSaldosPostpago" type="base:listaSaldosPostpagoType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaResponseOpcional" type="base:listaResponseOpcionalType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarFnFPrepagoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarFnFPrepagoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="fnFActivo" type="xsd:string" />
        <xsd:element minOccurs="1" name="listaFnF" type="base:listaFnFType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarHistoricoPaquetesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="fechaInicial" type="xsd:string" />
        <xsd:element name="fechaFinal" type="xsd:string" />
        <xsd:element name="tipoPaquete" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarHistoricoPaquetesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element minOccurs="1" name="listaHistoricoPaquetes" type="base:listaHistoricoPaquetesType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarHistoricoRecargasRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="fechaInicial" type="xsd:string" />
        <xsd:element name="fechaFinal" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarHistoricoRecargasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element minOccurs="1" name="listaHistoricoRecargas" type="base:listaHistoricoRecargasType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarConsumoRecargasRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="fechaInicial" type="xsd:string" />
        <xsd:element name="fechaFinal" type="xsd:string" />
        <xsd:element name="tipoConsumo" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarConsumoRecargasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element minOccurs="1" name="listaConsumoRecargas" type="base:listaConsumoRecargasType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarSaldoMASRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConsultarSaldoMASResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="smsMAS" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:listaResponseOpcionalType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>