NET/Claro.SIACU.ProxyService/Service References/SIACU.Post.BSS_StatusAccount/BSS_EstadoCuenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://claro.com.pe/esb/message/estadoCuenta/consultar/v1/" xmlns:WL5G3N2="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:WL5G3N4="http://claro.com.pe/esb/postventa/estadoCuenta/v1/" name="BSS_EstadoCuenta" targetNamespace="http://claro.com.pe/esb/postventa/estadoCuenta/v1/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <schema xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:header="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:tns="http://claro.com.pe/esb/postventa/estadoCuenta/v1/" xmlns:fault="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:ns1="http://claro.com.pe/esb/message/estadoCuenta/consultar/v1/" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="http://172.17.26.51:21000/BSS_EstadoCuenta/SRV_EstadoCuenta/Service/Mediation/MED_EstadoCuentaProxyService?SCHEMA%2FBSS_EstadoCuenta%2FSRV_EstadoCuenta%2FResources%2FXSD%2Fconsultar_v1" namespace="http://claro.com.pe/esb/message/estadoCuenta/consultar/v1/" />
    </schema>
    <schema xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:header="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:tns="http://claro.com.pe/esb/postventa/estadoCuenta/v1/" xmlns:fault="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:ns1="http://claro.com.pe/esb/message/estadoCuenta/consultar/v1/" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="http://172.17.26.51:21000/BSS_EstadoCuenta/SRV_EstadoCuenta/Service/Mediation/MED_EstadoCuentaProxyService?SCHEMA%2FBSS_EstadoCuenta%2FSRV_EstadoCuenta%2FResources%2FXSD%2FClaroGenericHeaders_v1" namespace="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" />
    </schema>
    <xsd:schema xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:header="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:tns="http://claro.com.pe/esb/postventa/estadoCuenta/v1/" xmlns:fault="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:ns1="http://claro.com.pe/esb/message/estadoCuenta/consultar/v1/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.17.26.51:21000/BSS_EstadoCuenta/SRV_EstadoCuenta/Service/Mediation/MED_EstadoCuentaProxyService?SCHEMA%2FBSS_EstadoCuenta%2FSRV_EstadoCuenta%2FResources%2FXSD%2FClaroFault_v1" namespace="http://claro.com.pe/esb/data/generico/claroFault/v1/" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="consultarRequestMessage">
    <WL5G3N0:part name="consultarRequest" element="WL5G3N1:consultarRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarResponseMessage">
    <WL5G3N0:part name="consultarResponse" element="WL5G3N1:consultarResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="claroFault">
    <WL5G3N0:part name="claroFault" element="WL5G3N2:claroFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="requestHeaderMessage">
    <WL5G3N0:part name="header" element="WL5G3N3:headerRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeaderMessage">
    <WL5G3N0:part name="header" element="WL5G3N3:headerResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="estadoCuentaPort">
    <WL5G3N0:operation name="consultar">
      <WL5G3N0:input message="WL5G3N4:consultarRequestMessage" />
      <WL5G3N0:output message="WL5G3N4:consultarResponseMessage" />
      <WL5G3N0:fault name="fault" message="WL5G3N4:claroFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="estadoCuentaSOAP11Binding" type="WL5G3N4:estadoCuentaPort">
    <WL5G3N5:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="consultar">
      <WL5G3N5:operation soapAction="http://claro.com.pe/esb/postventa/estadoCuenta/v1/consultar" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="consultarRequest" />
        <WL5G3N5:header message="WL5G3N4:requestHeaderMessage" part="header" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="consultarResponse" />
        <WL5G3N5:header message="WL5G3N4:responseHeaderMessage" part="header" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N5:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="estadoCuentaSOAP11BindingQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="estadoCuentaSOAP11BindingQSPort" binding="WL5G3N4:estadoCuentaSOAP11Binding">
      <WL5G3N5:address location="http://172.17.26.51:21000/BSS_EstadoCuenta/SRV_EstadoCuenta/Service/Mediation/MED_EstadoCuentaProxyService" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>