NET/Claro.SIACU.ProxyService/Service References/SIACPost.IGVHFC/ConsultaIGV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/baseschema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AuditRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="idTransaccion" type="xsd:string" />
      <xsd:element minOccurs="1" name="ipAplicacion" type="xsd:string" />
      <xsd:element minOccurs="1" name="nombreAplicacion" type="xsd:string" />
      <xsd:element minOccurs="1" name="usuarioAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SeguridadRequestType">
    <xsd:sequence>
      <xsd:element name="usuario" type="xsd:string" />
      <xsd:element name="contrasena" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DefaultServiceResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="categoria" type="xsd:integer" />
      <xsd:element name="idRespuesta" type="xsd:string" />
      <xsd:element name="mensaje" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="excepcion" type="xsd:string" />
      <xsd:element name="idTransaccion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>