NET/Claro.SIACU.ProxyService/Service References/SIACU.TechnicalServicesByCustomer/item21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entressta="http://claro.com.pe/esb/data/commonBusinessEntities/responseStatus/v2/" xmlns:segtscv2="http://claro.com.pe/esb/message/bssServiceProblemManagement/getTechnicalServicesByCustomer/v2/" xmlns:entpar="http://claro.com.pe/esb/data/engagedParty/party/v2/" xmlns:entbastyp="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" xmlns:entcusord="http://claro.com.pe/esb/data/customer/customerOrder/v2/" targetNamespace="http://claro.com.pe/esb/message/bssServiceProblemManagement/getTechnicalServicesByCustomer/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=CustomerOrder_v2.xsd" namespace="http://claro.com.pe/esb/data/customer/customerOrder/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=ResponseStatus_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/responseStatus/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Party_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/party/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=BaseTypes_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" />
  <xs:element name="GetTechnicalServicesByCustomerRequestMessage" type="segtscv2:GetTechnicalServicesByCustomerRequestType" />
  <xs:element name="GetTechnicalServicesByCustomerResponseMessage" type="segtscv2:GetTechnicalServicesByCustomerResponseType" />
  <xs:element name="responseData" type="segtscv2:ResponseData" />
  <xs:complexType name="GetTechnicalServicesByCustomerRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_individualIdentification" type="entpar:IndividualIdentification" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetTechnicalServicesByCustomerResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="responseStatus" type="entressta:ResponseStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="responseData" type="segtscv2:ResponseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_technicalServicesListType" type="segtscv2:TechnicalServicesListType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TechnicalServicesListType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_customerOrder" type="entcusord:CustomerOrder" />
      <xs:element minOccurs="0" maxOccurs="1" name="_organization" type="entpar:Organization" />
      <xs:element minOccurs="0" maxOccurs="1" name="_telephoneNumber" type="entpar:TelephoneNumber" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>