NET/Claro.SIACU.ProxyService/Service References/SIACU.TechnicalServicesByCustomer/item30.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entmaninf="http://claro.com.pe/esb/data/resource/managementInformation/v2/" targetNamespace="http://claro.com.pe/esb/data/resource/managementInformation/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GlobalConfiguration">
    <xs:annotation>
      <xs:documentation>This class defines all of the various global configuration options that are required for typical network devices.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="devicePassword" type="xs:string">
        <xs:annotation>
          <xs:documentation>This is the password for the device. Manufacturers usually have different passwords to access different functionality. If this device has multiple passwords to access its functionality, then this password will grant access to only the most basic functionality of the device. It is analogous to the enable command of Cisco devices.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="deviceSecretPassword" type="xs:string">
        <xs:annotation>
          <xs:documentation>This password provides access to more advanced functionality of the device. It is analogous to the enable secret command of Cisco devices.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="vtyPassword" type="xs:string">
        <xs:annotation>
          <xs:documentation>This is the password for virtual terminal access.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="snmpPassword" type="xs:string">
        <xs:annotation>
          <xs:documentation>This is a password that enables SNMP functionality.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>