NET/Claro.SIACU.ProxyService/Service References/SIACU.TechnicalServicesByCustomer/item25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entper="http://claro.com.pe/esb/data/commonBusinessEntities/performance/v2/" targetNamespace="http://claro.com.pe/esb/data/commonBusinessEntities/performance/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PerformanceIPAddress">
    <xs:annotation>
      <xs:documentation>A Performance-related extension to an IP address.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ipAddress" type="xs:string">
        <xs:annotation>
          <xs:documentation>A single IP address or a range of IP addresses.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="NumOfIPs" type="xs:integer">
        <xs:annotation>
          <xs:documentation>A number that represents the number of IP addresses specified by a range of IP Addresses in the ipAddress attribute.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>