NET/Claro.SIACU.ProxyService/Service References/SIACU.TechnicalServicesByCustomer/item9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entbusint="http://claro.com.pe/esb/data/commonBusinessEntities/businessInteraction/v2/" xmlns:entbastyp="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" xmlns:entpar="http://claro.com.pe/esb/data/engagedParty/party/v2/" xmlns:entproloy="http://claro.com.pe/esb/data/product/loyalty/v2/" xmlns:entprod="http://claro.com.pe/esb/data/product/product/v2/" xmlns:entcusbilcol="http://claro.com.pe/esb/data/customer/customerBillCollection/v2/" targetNamespace="http://claro.com.pe/esb/data/product/loyalty/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=BaseTypes_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Product_v2.xsd" namespace="http://claro.com.pe/esb/data/product/product/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=BusinessInteraction_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/businessInteraction/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=CustomerBillCollection_v2.xsd" namespace="http://claro.com.pe/esb/data/customer/customerBillCollection/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Party_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/party/v2/" />
  <xs:complexType name="LoyaltyAccount">
    <xs:annotation>
      <xs:documentation>A LoyaltyAccount corresponds to a set of balances to carry loyalty movement according to different valid period and unit.

A LoyaltyAccount may be required to realize a LoyaltyProgramProduct according to the rules carried by the corresponding LoyaltyProgramProdSpec. This is defined by the needsLoyaltyAccount attribute on the LoyaltyProgramProdSpec entity.

A LoyaltyAccount may collect results from one or more LoyaltyProgramProduct.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_loyaltyProgramProduct" type="entproloy:LoyaltyProgramProduct" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_loyaltyBalance" type="entproloy:LoyaltyBalance" />
      <xs:element minOccurs="0" maxOccurs="1" name="_loyaltyProgramMember" type="entproloy:LoyaltyProgramMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoyaltyBalance">
    <xs:annotation>
      <xs:documentation>A LoyaltyBalance is credited by LoyaltyEarns and debited by LoyaltyBurns.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="validFor" type="entbastyp:TimePeriod">
        <xs:annotation>
          <xs:documentation>Time period during wich the LoyaltyEarn can be burnt through LoyaltyBurn.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="unit" type="xs:string">
        <xs:annotation>
          <xs:documentation>Unit of the quantity credited and debited from the balance.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="_loyaltyAccount" type="entproloy:LoyaltyAccount" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_loyaltyEarn" type="entproloy:LoyaltyEarn" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_loyaltyBurn" type="entproloy:LoyaltyBurn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoyaltyBurn">
    <xs:annotation>
      <xs:documentation>A LoyaltyBurn represents the use of a certain quantity on a LoyaltyBalance. It is used to be gathered into a CustomerPayment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="entbastyp:Quantity">
        <xs:annotation>
          <xs:documentation>The quantity of burn.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="_loyaltyBalance" type="entproloy:LoyaltyBalance" />
      <xs:element minOccurs="0" maxOccurs="1" name="_customerPayment" type="entcusbilcol:CustomerPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoyaltyEarn">
    <xs:annotation>
      <xs:documentation>A LoyaltyEarn represents a gain credited on a LoyaltyBalance.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="entbastyp:Quantity">
        <xs:annotation>
          <xs:documentation>The quantity of earn.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="_loyaltyBalance" type="entproloy:LoyaltyBalance" />
      <xs:element minOccurs="0" maxOccurs="1" name="_loyaltyExecutionPoint" type="entproloy:LoyaltyExecutionPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoyaltyExecutionPoint">
    <xs:annotation>
      <xs:documentation>A LoyaltyExecutionPoint is a type of PolicyExecutionPoint.

A LoyaltyExecutionPoint tracks the application of a LoyaltyAction and may trigger BusinessInteraction, CustomerOrder or LoyaltyEarn.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="_loyaltyEarn" type="entproloy:LoyaltyEarn" />
      <xs:element minOccurs="0" maxOccurs="1" name="_businessInteraction" type="entbusint:BusinessInteraction" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoyaltyProgramMember">
    <xs:annotation>
      <xs:documentation>A LoyaltyProgramMember is defined on each LoyaltyAccount. A LoyaltyProgramMember is a type of PartyRole and is granted with the rights on the LoyaltyAccount such as to.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entpar:PartyRole">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_loyaltyAccount" type="entproloy:LoyaltyAccount" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LoyaltyProgramProduct">
    <xs:annotation>
      <xs:documentation>A LoyaltyProgramProduct is a type of ProductComponent.
It is described by a LoyaltyProgramProdSpec.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entprod:ProductComponent">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="_loyaltyAccount" type="entproloy:LoyaltyAccount" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>