NET/Claro.SIACU.ProxyService/Service References/SIACU.TechnicalServicesByCustomer/item14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entproext="http://claro.com.pe/esb/data/product/productExtension/v2/" targetNamespace="http://claro.com.pe/esb/data/product/productExtension/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductOfferingPriceExtension">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>