NET/Claro.SIACU.ProxyService/Service References/SIACU.TechnicalServicesByCustomer/item13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entbastyp="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" xmlns:entresspe="http://claro.com.pe/esb/data/resource/resourceSpecification/v2/" xmlns:entres="http://claro.com.pe/esb/data/resource/resource/v2/" xmlns:entpar="http://claro.com.pe/esb/data/engagedParty/party/v2/" xmlns:entproloy="http://claro.com.pe/esb/data/product/loyalty/v2/" xmlns:entprod="http://claro.com.pe/esb/data/product/product/v2/" xmlns:entbusint="http://claro.com.pe/esb/data/commonBusinessEntities/businessInteraction/v2/" xmlns:entcombusentext="http://claro.com.pe/esb/data/commonBusinessEntities/commonBusinessEntitiesExtension/v2/" xmlns:entser="http://claro.com.pe/esb/data/service/service/v2/" xmlns:entprooff="http://claro.com.pe/esb/data/product/productOffering/v2/" targetNamespace="http://claro.com.pe/esb/data/commonBusinessEntities/businessInteraction/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=BaseTypes_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Loyalty_v2.xsd" namespace="http://claro.com.pe/esb/data/product/loyalty/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=ResourceSpecification_v2.xsd" namespace="http://claro.com.pe/esb/data/resource/resourceSpecification/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=ProductOffering_v2.xsd" namespace="http://claro.com.pe/esb/data/product/productOffering/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=CommonBusinessEntitiesExtension_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/commonBusinessEntitiesExtension/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Resource_v2.xsd" namespace="http://claro.com.pe/esb/data/resource/resource/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Service_v2.xsd" namespace="http://claro.com.pe/esb/data/service/service/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Product_v2.xsd" namespace="http://claro.com.pe/esb/data/product/product/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Party_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/party/v2/" />
  <xs:complexType name="BusinessInteractionItem">
    <xs:annotation>
      <xs:documentation>The purpose for the BusinessInteraction expressed in terms of a ProductSpecification, ProductOffering, ServiceSpecification or ResourceSpecification or may refer to a Product, Service, or Resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="entbastyp:Quantity">
        <xs:annotation>
          <xs:documentation>Quantity of an interaction item involved in an interaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="action" type="xs:string">
        <xs:annotation>
          <xs:documentation>The action to take for an InteractionItem, such as add, change, remove.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="_businessInteraction" type="entbusint:BusinessInteraction" />
      <xs:element minOccurs="0" maxOccurs="1" name="_service" type="entser:Service" />
      <xs:element minOccurs="0" maxOccurs="1" name="_product" type="entprod:Product" />
      <xs:element minOccurs="0" maxOccurs="1" name="_productOffering" type="entprooff:ProductOffering" />
      <xs:element minOccurs="0" maxOccurs="1" name="_resourceSpecification" type="entresspe:ResourceSpecification" />
      <xs:element minOccurs="0" maxOccurs="1" name="_resource" type="entres:Resource" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_businessInteractionItemRelationship" type="entbusint:BusinessInteractionItemRelationship" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessInteractionItemPrice">
    <xs:annotation>
      <xs:documentation>An amount associated with an BusinessInteractionItem that is valued by the associated ProductOfferingPrice.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="entbastyp:Quantity">
        <xs:annotation>
          <xs:documentation>The portion of the Business Interaction Item quantity that is valued by a price.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="price" type="entbastyp:Money">
        <xs:annotation>
          <xs:documentation>A one-time price, not included as an available product offering price, associated with a business interaction item.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>Narrative that explains the price that can include a reason why a price was overridden.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="_productOfferingPrice" type="entprooff:ProductOfferingPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessInteractionItemRelationship">
    <xs:annotation>
      <xs:documentation>The BusinessInteractionItemRelationship enables specifying any kind of relationships between BusinessInteractionItemRelationship such as contains, relies on...</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="type" type="xs:string">
        <xs:annotation>
          <xs:documentation>The type of relationship such as contains, relies on.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="_businessInteractionItem" type="entbusint:BusinessInteractionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessInteractionRole">
    <xs:annotation>
      <xs:documentation>An entity involved in a BusinessInteraction.  The entity may be a Party playing a PartyRole or a Resource playing a ResourceRole, such as a system.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="interactionRole" type="xs:string">
        <xs:annotation>
          <xs:documentation>The part a BusinessActor plays in an interaction, such as requester, responder, recipient, and so forth.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="_businessInteraction" type="entbusint:BusinessInteraction" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessInteractionType">
    <xs:annotation>
      <xs:documentation>The possible types of BusinessInteractions that can occur. BusinessInteractionTypes can be with the associated BusinessParticipantTypes that can participate in a BusinessInteraction.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>The name of an Interaction Type, such as Customer Inquiry, Customer Quote/Offer, Trouble Report.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>A brief narrative that describes an Interaction Type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_businessInteraction" type="entbusint:BusinessInteraction" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessInteractionVersion">
    <xs:annotation>
      <xs:documentation>A record of changes made to an BusinessInteraction.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="businessInteractionRevisionType" type="xs:string">
        <xs:annotation>
          <xs:documentation>The significance of the revision, such as major or minor.

Permitted Values:

Major, Minor</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="businessInteractionRevisionNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>A unique number that identifies the revision.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="businessInteractionRevisionDate" type="entbastyp:TimePeriod">
        <xs:annotation>
          <xs:documentation>The date of the revision.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="businessInteractionRevisionDescription" type="xs:string">
        <xs:annotation>
          <xs:documentation>Text that explains the revision, including why the revision was made.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_partyRole" type="entpar:PartyRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="_businessInteraction" type="entbusint:BusinessInteraction" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerAccountInteractionRole">
    <xs:annotation>
      <xs:documentation>A CustomerAccount playing a role in a BusinessInteraction.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:BusinessInteractionRole">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DisputedAmount">
    <xs:annotation>
      <xs:documentation>This entity represents a request by an external party (Customer or Supplier/Partner) to change the amount it is required to pay the enterprise. The amount in disagreement is being in dispute, and may be handled differently from financial aspects (for example, an amount in dispute may not be target to late payment fees calculations or being considered as part of collection calculations)</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:Request">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="dueDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The latest date in which the DisputedAmount should be closed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="_disputedAmountExtension" type="entcombusentext:DisputedAmountExtension" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InquiryRequest">
    <xs:annotation>
      <xs:documentation>A Request for information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:Request">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InquiryResponse">
    <xs:annotation>
      <xs:documentation>A reply to a InquiryRequest.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Notification">
    <xs:annotation>
      <xs:documentation>A communication that informs about something that has or will happen. A Notification is typically one-sided, in that no Response is expected. A Notification can be created as the result of a Request; for example, a Trouble Report may result in Notifications being sent to affected Parties. A Notification is a type of Business Interaction.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:BusinessInteraction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="_notificationExtension" type="entcombusentext:NotificationExtension" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Request">
    <xs:annotation>
      <xs:documentation>The act of asking that something be done that typically involves a Response. Request is a type of Business Interaction.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:BusinessInteraction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourceInteractionRole">
    <xs:annotation>
      <xs:documentation>A Resource playing a role in a Business Interaction.</xs:documentation>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Response">
    <xs:annotation>
      <xs:documentation>A reply to a Request.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:BusinessInteraction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BusinessInteraction">
    <xs:annotation>
      <xs:documentation>A BusinessInteraction is an arrangement, contract, communication or joint activity between one or more PartyRoles, ResourceRoles, or CustomerAccounts. A BusinessInteraction may consist of one or more BusinessInteractionItems. A BusinessInteractionItem may refer to a Product, Service, Resource, or one of their specifications. A BusinessInteraction is further defined by one or more Places. One BusinessInteraction may reference another BusinessInteraction and one BusinessInteractionItem may reference another BusinessInteractionItem on the same or different BusinessInteraction. There are five types of BusinessInteractions: Requests, Responses, Notifications, Agreements, and Instructions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Unique identifier for Interaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="interactionDate" type="entbastyp:TimePeriod">
        <xs:annotation>
          <xs:documentation>Date interaction initiated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>Narrative that explains the interaction and details about the interaction, such as why the interaction is taking place.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="interactionDateComplete" type="entbastyp:TimePeriod">
        <xs:annotation>
          <xs:documentation>The date on which an interaction is closed or completed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="interactionStatus" type="xs:string">
        <xs:annotation>
          <xs:documentation>The current condition of an interaction, such as open, in research, closed, and so forth.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_businessInteractionItem" type="entbusint:BusinessInteractionItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="_businessInteractionType" type="entbusint:BusinessInteractionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="_businessInteractionExtension" type="entcombusentext:BusinessInteractionExtension" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_businessInteractionRole" type="entbusint:BusinessInteractionRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="_loyaltyExecutionPoint" type="entproloy:LoyaltyExecutionPoint" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_businessInteractionVersion" type="entbusint:BusinessInteractionVersion" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>