NET/Claro.SIACU.ProxyService/Service References/SIACU.TechnicalServicesByCustomer/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ententext="http://claro.com.pe/esb/data/enterprise/enterpriseExtension/v2/" xmlns:entpar="http://claro.com.pe/esb/data/engagedParty/party/v2/" xmlns:entbastyp="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" targetNamespace="http://claro.com.pe/esb/data/enterprise/enterpriseExtension/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=BaseTypes_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/baseTypes/v2/" />
  <xs:import schemaLocation="?WSDL&amp;interface=BssServiceProblemManagementSoap11Binding&amp;part=Party_v2.xsd" namespace="http://claro.com.pe/esb/data/engagedParty/party/v2/" />
  <xs:complexType name="WorkforceEmployeePoolExtension">
    <xs:annotation>
      <xs:documentation>Extension of WorkforceEmployeePool</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="entbastyp:Quantity">
        <xs:annotation>
          <xs:documentation>Quantity Workers Taxpayer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="durationActivity" type="xs:string">
        <xs:annotation>
          <xs:documentation>Duration Activity</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="allocationTime" type="xs:string">
        <xs:annotation>
          <xs:documentation>Allocation Time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="isSkill" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="isLocationArea" type="xs:string">
        <xs:annotation>
          <xs:documentation>is Location Area</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="_party" type="entpar:Party" />
      <xs:element minOccurs="0" maxOccurs="1" name="_individual" type="entpar:Individual" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>