NET/Claro.SIACU.ProxyService/Service References/SIACPre.ConsultarDatosSIM/BSS_ConsultaDatosSIM_v1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://claro.com.pe/esb/message/bssconsultadatossim/consultarDatosSIM/v1/" xmlns:WL5G3N5="http://claro.com.pe/esb/ventas/bssconsultadatossim/v1/" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://claro.com.pe/generic/messageFormat/v1.0/" xmlns:WL5G3N2="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:WL5G3N4="http://claro.com.pe/esb/data/generico/claroFault/v1/" name="BSS_ConsultaDatosSIM_v1" targetNamespace="http://claro.com.pe/esb/ventas/bssconsultadatossim/v1/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:cf="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://claro.com.pe/esb/ventas/bssconsultadatossim/v1/" xmlns:he="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:v1="http://claro.com.pe/generic/messageFormat/v1.0/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N7="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://claro.com.pe/esb/message/bssconsultadatossim/consultarDatosSIM/v1/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.19.91.123:10512/BSS_ConsultaDatosSIM/SRV_BSS_ConsultaDatosSIM/Service/Exposition/BSS_ConsultaDatosSIMPipelineProxyService?SCHEMA%2FBSS_ConsultaDatosSIM%2FSRV_BSS_ConsultaDatosSIM%2FResources%2FXSD%2FconsultarDatosSIM" namespace="http://claro.com.pe/esb/message/bssconsultadatossim/consultarDatosSIM/v1/" />
      <xsd:import schemaLocation="http://172.19.91.123:10512/BSS_ConsultaDatosSIM/SRV_BSS_ConsultaDatosSIM/Service/Exposition/BSS_ConsultaDatosSIMPipelineProxyService?SCHEMA%2FBSS_ConsultaDatosSIM%2FSRV_BSS_ConsultaDatosSIM%2FResources%2FXSD%2FClaroGenericHeaders_v1" namespace="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" />
      <xsd:import schemaLocation="http://172.19.91.123:10512/BSS_ConsultaDatosSIM/SRV_BSS_ConsultaDatosSIM/Service/Exposition/BSS_ConsultaDatosSIMPipelineProxyService?SCHEMA%2FBSS_ConsultaDatosSIM%2FSRV_BSS_ConsultaDatosSIM%2FResources%2FXSD%2FClaroFault_v1" namespace="http://claro.com.pe/esb/data/generico/claroFault/v1/" />
      <xsd:import schemaLocation="http://172.19.91.123:10512/BSS_ConsultaDatosSIM/SRV_BSS_ConsultaDatosSIM/Service/Exposition/BSS_ConsultaDatosSIMPipelineProxyService?SCHEMA%2FBSS_ConsultaDatosSIM%2FSRV_BSS_ConsultaDatosSIM%2FResources%2FDP%2FHeaderGeneric_v1.0" namespace="http://claro.com.pe/generic/messageFormat/v1.0/" />
      <xsd:import schemaLocation="http://172.19.91.123:10512/BSS_ConsultaDatosSIM/SRV_BSS_ConsultaDatosSIM/Service/Exposition/BSS_ConsultaDatosSIMPipelineProxyService?SCHEMA%2FBSS_ConsultaDatosSIM%2FSRV_BSS_ConsultaDatosSIM%2FResources%2FDP%2FCommonsException" namespace="http://claro.com.pe/eai/ebs/xsd/CommonsException" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="HeaderRequest">
    <WL5G3N0:part name="HeaderRequest" element="WL5G3N1:HeaderRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="HeaderResponse">
    <WL5G3N0:part name="HeaderResponse" element="WL5G3N1:HeaderResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerRequest">
    <WL5G3N0:part name="headerRequest" element="WL5G3N2:headerRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerResponse">
    <WL5G3N0:part name="headerResponse" element="WL5G3N2:headerResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarDatosSIMRequestMessage">
    <WL5G3N0:part name="consultarDatosSIMRequest" element="WL5G3N3:consultarDatosSIMRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarDatosSIMResponseMessage">
    <WL5G3N0:part name="consultarDatosSIMResponse" element="WL5G3N3:consultarDatosSIMResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="claroFault">
    <WL5G3N0:part name="claroFault" element="WL5G3N4:claroFault" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="BSS_ConsultaDatosSIMPort">
    <WL5G3N0:operation name="consultarDatosSIM">
      <WL5G3N0:input message="WL5G3N5:consultarDatosSIMRequestMessage" />
      <WL5G3N0:output message="WL5G3N5:consultarDatosSIMResponseMessage" />
      <WL5G3N0:fault name="claroFault" message="WL5G3N5:claroFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="BSS_ConsultaDatosSIMSOAP11Binding" type="WL5G3N5:BSS_ConsultaDatosSIMPort">
    <WL5G3N6:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="consultarDatosSIM">
      <WL5G3N6:operation soapAction="http://claro.com.pe/esb/ventas/bssconsultadatossim/v1/consultarDatosSIM" style="document" />
      <WL5G3N0:input>
        <WL5G3N6:body use="literal" parts="consultarDatosSIMRequest" />
        <WL5G3N6:header message="WL5G3N5:HeaderRequest" part="HeaderRequest" use="literal" />
        <WL5G3N6:header message="WL5G3N5:headerRequest" part="headerRequest" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N6:body use="literal" parts="consultarDatosSIMResponse" />
        <WL5G3N6:header message="WL5G3N5:HeaderResponse" part="HeaderResponse" use="literal" />
        <WL5G3N6:header message="WL5G3N5:headerResponse" part="headerResponse" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="claroFault">
        <WL5G3N6:fault use="literal" name="claroFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="BSS_ConsultaDatosSIM_WS">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="BSS_ConsultaDatosSIMSB11" binding="WL5G3N5:BSS_ConsultaDatosSIMSOAP11Binding">
      <WL5G3N6:address location="http://172.19.91.123:10512/BSS_ConsultaDatosSIM/SRV_BSS_ConsultaDatosSIM/Service/Exposition/BSS_ConsultaDatosSIMPipelineProxyService" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>