NET/Claro.SIACU.ProxyService/Service References/SIACPre.ConsultarDatosSIM/BSS_ConsultaDatosSIMPipelineProxyService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/bpel/data/generico/claroGenericHeader/v1/" xmlns:tns="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="headerRequest" type="tns:HeaderRequestType" />
  <xsd:element name="headerResponse" type="tns:HeaderResponseType" />
  <xsd:complexType name="HeaderRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="canal" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="idAplicacion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="usuarioSesion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccionESB" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccionNegocio" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="fechaInicio" type="xsd:dateTime" />
      <xsd:element minOccurs="1" maxOccurs="1" name="nodoAdicional" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccionESB" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccionNegocio" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="fechaInicio" type="xsd:dateTime" />
      <xsd:element minOccurs="1" maxOccurs="1" name="fechaFin" type="xsd:dateTime" />
      <xsd:element minOccurs="1" maxOccurs="1" name="nodoAdicional" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>