NET/Claro.SIACU.ProxyService/Service References/SIACPre.ConsultarDatosSIM/BSS_ConsultaDatosSIMPipelineProxyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/esb/data/generico/baseschema/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/generico/baseschema/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="RequestOpcionalType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="requestOpcional">
        <xsd:complexType>
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseOpcionalType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="responseOpcional">
        <xsd:complexType>
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="responseStatus">
    <xsd:sequence>
      <xsd:element name="estado" type="xsd:int" />
      <xsd:element name="codigoRespuesta" type="xsd:string" />
      <xsd:element name="descripcionRespuesta" type="xsd:string" />
      <xsd:element name="ubicacionError" type="xsd:string" />
      <xsd:element name="fecha" type="xsd:dateTime" />
      <xsd:element name="origen" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>