NET/Claro.SIACU.ProxyService/Service References/SIACPost.CreditBalance/ebsConsultaSaldo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://claro.com.pe/eai/ebs/ws/ConsultaSaldo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://claro.com.pe/eai/ebs/ws/ConsultaSaldo" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ebs/ws/ConsultaSaldo">
      <xsd:complexType name="audiTypeRequest">
        <xsd:sequence>
          <xsd:element name="idTransaccion" type="xsd:string" />
          <xsd:element name="ipAplicacion" type="xsd:string" />
          <xsd:element name="aplicacion" type="xsd:string" />
          <xsd:element name="usrAplicacion" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="audiType">
        <xsd:sequence>
          <xsd:element name="idTransaccion" type="xsd:string" />
          <xsd:element name="codigoRespuesta" type="xsd:string" />
          <xsd:element name="mensajeRespuesta" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SaldoBolsaType">
        <xsd:sequence>
          <xsd:element name="cantidad" type="xsd:string" />
          <xsd:element name="unidad" type="xsd:string" />
          <xsd:element name="vigencia" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PostPagoType">
        <xsd:sequence>
          <xsd:element name="saldo" type="xsd:string" />
          <xsd:element name="unidad" type="xsd:string" />
          <xsd:element name="fechaExpiracion" type="xsd:string" />
          <xsd:element name="topeConsumo" type="xsd:string" />
          <xsd:element name="consumo" type="xsd:string" />
          <xsd:element name="credito" type="xsd:string" />
          <xsd:element name="tipoCredito" type="xsd:string" />
          <xsd:element name="tarifa" type="xsd:string" />
          <xsd:element name="idTarifa" type="xsd:string" />
          <xsd:element name="producto" type="xsd:string" />
          <xsd:element name="bolsa" type="xsd:string" />
          <xsd:element name="tipoBolsa" type="xsd:string" />
          <xsd:element name="idBolsa" type="xsd:string" />
          <xsd:element name="tipoRelacion" type="xsd:string" />
          <xsd:element name="opcional1" type="xsd:string" />
          <xsd:element name="opcional2" type="xsd:string" />
          <xsd:element name="opcional3" type="xsd:string" />
          <xsd:element name="opcional4" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PostPagoCorportaivoType">
        <xsd:sequence>
          <xsd:element name="saldo" type="xsd:string" />
          <xsd:element name="unidad" type="xsd:string" />
          <xsd:element name="fechaExpiracion" type="xsd:string" />
          <xsd:element name="topeConsumo" type="xsd:string" />
          <xsd:element name="consumo" type="xsd:string" />
          <xsd:element name="credito" type="xsd:string" />
          <xsd:element name="tipoCredito" type="xsd:string" />
          <xsd:element name="tarifa" type="xsd:string" />
          <xsd:element name="idTarifa" type="xsd:string" />
          <xsd:element name="producto" type="xsd:string" />
          <xsd:element name="bolsa" type="xsd:string" />
          <xsd:element name="tipoBolsa" type="xsd:string" />
          <xsd:element name="idBolsa" type="xsd:string" />
          <xsd:element name="tipoRelacion" type="xsd:string" />
          <xsd:element name="codInternoTelf" type="xsd:string" />
          <xsd:element name="saldoLinea" type="xsd:string" />
          <xsd:element name="consumoLinea" type="xsd:string" />
          <xsd:element name="topeLinea" type="xsd:string" />
          <xsd:element name="llaveServicio" type="xsd:string" />
          <xsd:element name="opcional1" type="xsd:string" />
          <xsd:element name="opcional2" type="xsd:string" />
          <xsd:element name="opcional3" type="xsd:string" />
          <xsd:element name="opcional4" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PrepagoDatosConsultaType">
        <xsd:sequence>
          <xsd:element name="saldoRecarga" type="tns:SaldoBolsaType" />
          <xsd:element name="saldoSMS" type="tns:SaldoBolsaType" />
          <xsd:element name="saldoPaqueteDatos" type="tns:SaldoBolsaType" />
          <xsd:element name="consumoPaqueteDatos" type="tns:SaldoBolsaType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PostpagoDatosConsultaType">
        <xsd:sequence>
          <xsd:element name="saldoBolsaBaseSoles" type="tns:PostPagoType" />
          <xsd:element name="saldoRecarga" type="tns:PostPagoType" />
          <xsd:element name="saldoSolesAdicionales" type="tns:PostPagoType" />
          <xsd:element name="saldoDinero" type="tns:PostPagoType" />
          <xsd:element name="saldoPromoMultiplica" type="tns:PostPagoType" />
          <xsd:element name="saldoMinutos" type="tns:PostPagoType" />
          <xsd:element name="saldoSMS" type="tns:PostPagoType" />
          <xsd:element name="saldoMMS" type="tns:PostPagoType" />
          <xsd:element name="saldoMBPlan" type="tns:PostPagoType" />
          <xsd:element name="saldoMBAdicionales" type="tns:PostPagoType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="saldoGenericoN" type="tns:PostPagoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BolsaCorporativaCuentaType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="SaldoCorpCuentaN" type="tns:PostPagoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BolsaCorporativaPersonalType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="SaldoCorpPersonalN" type="tns:PostPagoCorportaivoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="consultaSaldoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="tns:audiTypeRequest" />
            <xsd:element name="msisdn" type="xsd:string" />
            <xsd:element name="customerId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaSaldoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="tns:audiType" />
            <xsd:element name="textoMensajeDatosConsulta" type="xsd:string" />
            <xsd:element name="msisdn" type="xsd:string" />
            <xsd:element name="tipoLinea" type="xsd:string" />
            <xsd:element name="tipoCliente" type="xsd:string" />
            <xsd:element name="plataforma" type="xsd:string" />
            <xsd:element name="datosPrepago" type="tns:PrepagoDatosConsultaType" />
            <xsd:element name="datosPostpago" type="tns:PostpagoDatosConsultaType" />
            <xsd:element name="BolsaCorporativaCuenta" type="tns:BolsaCorporativaCuentaType" />
            <xsd:element name="BolsaCorporativaPersonal" type="tns:BolsaCorporativaPersonalType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="consultaSaldoRequestMsg">
    <part name="parameters" element="tns:consultaSaldoRequest" />
  </message>
  <message name="consultaSaldoResponseMsg">
    <part name="parameters" element="tns:consultaSaldoResponse" />
  </message>
  <portType name="ebsConsultaSaldoPortType">
    <operation name="consultaSaldo">
      <input message="tns:consultaSaldoRequestMsg" />
      <output message="tns:consultaSaldoResponseMsg" />
    </operation>
  </portType>
  <binding name="ebsConsultaSaldoPortTypeSOAP11Binding" type="tns:ebsConsultaSaldoPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="consultaSaldo">
      <soap:operation soapAction="http://claro.com.pe/eai/ebs/ws/ConsultaSaldo/consultaSaldo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ebsConsultaSaldoService">
    <port name="ebsConsultaSaldo" binding="tns:ebsConsultaSaldoPortTypeSOAP11Binding">
      <soap:address location="http://limjandesv02.tim.com.pe:6909/ConsultaSaldoV2/ebsConsultaSaldo" />
    </port>
  </service>
</definitions>