NET/Claro.SIACU.ProxyService/Web References/SIACPost.GetCustomerManagementFS/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entcusord="http://claro.com.pe/entity/Customer/CustomerOrder/V1/" xmlns:bssactcus="http://ericsson.com/esb/bss/Customer/GetProducts/V1/" xmlns:entbastyp="http://claro.com.pe/entity/CommonBusiness/BaseTypes/V1/" targetNamespace="http://ericsson.com/esb/bss/Customer/GetProducts/V1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.19.91.185:10051/esb/ws/bss/Customer/CustomerManagementFS/V1/?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FCommonBusiness%2FBaseTypes_V1" namespace="http://claro.com.pe/entity/CommonBusiness/BaseTypes/V1/" />
  <xs:import schemaLocation="http://172.19.91.185:10051/esb/ws/bss/Customer/CustomerManagementFS/V1/?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FCustomer%2FCustomerOrder_V1" namespace="http://claro.com.pe/entity/Customer/CustomerOrder/V1/" />
  <xs:complexType name="GetProductsRequestType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="_customerOrder" type="entcusord:CustomerOrder" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_attributeValuePair" type="entbastyp:AttributeValuePair" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProductsResponseType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="_responseStatus" type="entbastyp:ResponseStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="_customerOrder" type="entcusord:CustomerOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProductsRequestMessage" type="bssactcus:GetProductsRequestType" />
  <xs:element name="GetProductsResponseMessage" type="bssactcus:GetProductsResponseType" />
</xs:schema>