NET/Claro.SIACU.ProxyService/Service References/SIACPost.Validate4GLTE/Validacion4GLTEWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://claro.com.pe/eai/ws/ventas/validacion4GLTEWS" xmlns:types="http://claro.com.pe/eai/ws/ventas/validacion4GLTEWS/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Validacion4GLTEWS" targetNamespace="http://claro.com.pe/eai/ws/ventas/validacion4GLTEWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/ventas/validacion4GLTEWS" />
    <xsd:schema>
      <xsd:import schemaLocation="http://limdeseaiv19.tim.com.pe:8909/Validacion4GLTEWS/Validacion4GLTESB11?xsd=2" namespace="http://claro.com.pe/eai/ws/ventas/validacion4GLTEWS/types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="validarLineaRequestMsg">
    <wsdl:part name="request" element="types:validarLineaRequest" />
  </wsdl:message>
  <wsdl:message name="validarLineaResponseMsg">
    <wsdl:part name="response" element="types:validarLineaResponse" />
  </wsdl:message>
  <wsdl:message name="validarPlanRequestMsg">
    <wsdl:part name="request" element="types:validarPlanRequest" />
  </wsdl:message>
  <wsdl:message name="validarPlanResponseMsg">
    <wsdl:part name="response" element="types:validarPlanResponse" />
  </wsdl:message>
  <wsdl:portType name="Validacion4GLTEWSPortType">
    <wsdl:operation name="validarLinea">
      <wsdl:input message="tns:validarLineaRequestMsg" />
      <wsdl:output message="tns:validarLineaResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="validarPlan">
      <wsdl:input message="tns:validarPlanRequestMsg" />
      <wsdl:output message="tns:validarPlanResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Validacion4GLTEWSPortTypeSOAP11Binding" type="tns:Validacion4GLTEWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarPlan">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/ventas/validacion4GLTEWS/validarPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarLinea">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/ventas/validacion4GLTEWS/validarLinea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Validacion4GLTEWSPortTypeSOAP12Binding" type="tns:Validacion4GLTEWSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarPlan">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/ventas/validacion4GLTEWS/validarPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarLinea">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/ventas/validacion4GLTEWS/validarLinea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Validacion4GLTEService">
    <wsdl:port name="Validacion4GLTESB11" binding="tns:Validacion4GLTEWSPortTypeSOAP11Binding">
      <soap:address location="http://limdeseaiv19.tim.com.pe:8909/Validacion4GLTEWS/Validacion4GLTESB11" />
    </wsdl:port>
    <wsdl:port name="Validacion4GLTESB12" binding="tns:Validacion4GLTEWSPortTypeSOAP12Binding">
      <soap12:address location="http://limdeseaiv19.tim.com.pe:8909/Validacion4GLTEWS/Validacion4GLTESB12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>