NET/Claro.SIACU.ProxyService/Web References/SIACPost.Recharges/Recargas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://claro.com.pe/eai/postpaidservices/Movil/Consultas/Recargas/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/postpaidservices/Movil/Consultas/Recargas/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="audiTypeRequest">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="ipAplicacion" type="xsd:string" />
      <xsd:element name="nombreAplicacion" type="xsd:string" />
      <xsd:element name="usuarioAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="audiTypeResponse">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="errorCode" type="xsd:string" />
      <xsd:element name="errorMsg" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultarBolsas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="audit" type="tns:audiTypeRequest" />
        <xsd:element name="msisdn" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarBolsasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="audit" type="tns:audiTypeResponse" />
        <xsd:element name="plataforma" type="xsd:string" />
        <xsd:element minOccurs="1" name="ListaSaldoBolsa" type="tns:ListaSaldoBolsaType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="tns:listaCamposOpcionales" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarSaldoCliente">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="audit" type="tns:audiTypeRequest" />
        <xsd:element minOccurs="1" maxOccurs="1" name="msisdn" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarSaldoClienteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="audit" type="tns:audiTypeResponse" />
        <xsd:element name="monto" type="xsd:double" />
        <xsd:element name="fechaExpiracion" type="xsd:string" />
        <xsd:element name="estado" type="xsd:string" />
        <xsd:element name="unidad" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="tns:listaCamposOpcionales" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarSaldoBolsas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="audit" type="tns:audiTypeRequest" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="customerid" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarSaldoBolsasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="audit" type="tns:audiTypeResponse" />
        <xsd:element name="plataforma" type="xsd:string" />
        <xsd:element minOccurs="1" name="ListaSaldoBolsa" type="tns:ListaSaldoBolsaType" />
        <xsd:element minOccurs="1" name="ListaPaqueteDatos" type="tns:ListaPaqueteDatosType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="tns:listaCamposOpcionales" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ListaSaldoBolsaType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SaldoBolsas" type="tns:SaldoBolsasType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaldoBolsasType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="plan" type="xsd:string" />
      <xsd:element minOccurs="0" name="producto" type="xsd:string" />
      <xsd:element minOccurs="0" name="idBolsa" type="xsd:string" />
      <xsd:element name="bolsa" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoBolsa" type="xsd:string" />
      <xsd:element name="saldo" type="xsd:string" />
      <xsd:element name="unidad" type="xsd:string" />
      <xsd:element minOccurs="0" name="topeConsumo" type="xsd:string" />
      <xsd:element minOccurs="0" name="consumo" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="fechaExpiracion" type="xsd:string" />
      <xsd:element minOccurs="0" name="credito" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoCredito" type="xsd:string" />
      <xsd:element minOccurs="0" name="tarifa" type="xsd:string" />
      <xsd:element minOccurs="0" name="idTarifa" type="xsd:string" />
      <xsd:element minOccurs="0" name="opcional1" type="xsd:string" />
      <xsd:element minOccurs="0" name="opcional2" type="xsd:string" />
      <xsd:element minOccurs="0" name="opcional3" type="xsd:string" />
      <xsd:element minOccurs="0" name="opcional4" type="xsd:string" />
      <xsd:element minOccurs="0" name="opcional5" type="xsd:string" />
      <xsd:element minOccurs="0" name="opcional6" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaPaqueteDatosType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="SaldoPaqueteDatos" type="tns:SaldoPaqueteDatosType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaldoPaqueteDatosType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="plan" type="xsd:string" />
      <xsd:element minOccurs="0" name="producto" type="xsd:string" />
      <xsd:element minOccurs="0" name="idBolsa" type="xsd:string" />
      <xsd:element name="bolsa" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoBolsa" type="xsd:string" />
      <xsd:element name="saldo" type="xsd:string" />
      <xsd:element name="unidad" type="xsd:string" />
      <xsd:element minOccurs="0" name="topeConsumo" type="xsd:string" />
      <xsd:element minOccurs="0" name="consumo" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="fechaExpiracion" type="xsd:string" />
      <xsd:element minOccurs="0" name="credito" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoCredito" type="xsd:string" />
      <xsd:element minOccurs="0" name="tarifa" type="xsd:string" />
      <xsd:element minOccurs="0" name="idTarifa" type="xsd:string" />
      <xsd:element minOccurs="0" name="idSuscripcion" type="xsd:string" />
      <xsd:element minOccurs="0" name="codigoPaquete" type="xsd:long" />
      <xsd:element minOccurs="0" name="codigoExternoPaquete" type="xsd:string" />
      <xsd:element minOccurs="0" name="idGrupoPaquete" type="xsd:long" />
      <xsd:element minOccurs="0" name="nombreGrupoPaquete" type="xsd:string" />
      <xsd:element minOccurs="0" name="idOfertaPaquete" type="xsd:long" />
      <xsd:element minOccurs="0" name="codigoExternoOfertaPaquete" type="xsd:string" />
      <xsd:element minOccurs="0" name="descripcionOfertaPaquete" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoDuracionPaquete" type="xsd:string" />
      <xsd:element minOccurs="0" name="duracionPaquete" type="xsd:long" />
      <xsd:element minOccurs="0" name="porcentajeIGV" type="xsd:double" />
      <xsd:element minOccurs="0" name="flagProrrateo" type="xsd:string" />
      <xsd:element minOccurs="0" name="unidadPorDuracionPaquete" type="xsd:long" />
      <xsd:element minOccurs="0" name="cargoProducto" type="xsd:double" />
      <xsd:element minOccurs="0" name="cargoIGV" type="xsd:double" />
      <xsd:element minOccurs="0" name="cargoTotalAPagar" type="xsd:double" />
      <xsd:element minOccurs="0" name="fechaActivacion" type="xsd:string" />
      <xsd:element minOccurs="0" name="canal" type="xsd:string" />
      <xsd:element minOccurs="0" name="flagAnidado" type="xsd:string" />
      <xsd:element minOccurs="0" name="flagRenovable" type="xsd:string" />
      <xsd:element minOccurs="0" name="flagAplicaEliminar" type="xsd:string" />
      <xsd:element minOccurs="0" name="estadoSuscripcion" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroRenovaciones" type="xsd:long" />
      <xsd:element minOccurs="0" name="ultimaFechaRenovacion" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaCompra" type="xsd:string" />
      <xsd:element minOccurs="0" name="opcional1" type="xsd:string" />
      <xsd:element minOccurs="0" name="opcional2" type="xsd:string" />
      <xsd:element minOccurs="0" name="opcional3" type="xsd:string" />
      <xsd:element minOccurs="0" name="opcional4" type="xsd:string" />
      <xsd:element minOccurs="0" name="opcional5" type="xsd:string" />
      <xsd:element minOccurs="0" name="opcional6" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listaCamposOpcionales">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="campoOpcional">
        <xsd:complexType>
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>