NET/Claro.SIACU.ProxyService/Service References/SIACPost.IMR/ebsConsultaIMRSB11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://claro.com.pe/eai/ebs/ws/ConsultaIMR" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://claro.com.pe/eai/ebs/ws/ConsultaIMR" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ebs/ws/ConsultaIMR">
      <xsd:complexType name="audiTypeRequest">
        <xsd:sequence>
          <xsd:element name="idTransaccion" type="xsd:string" />
          <xsd:element name="ipAplicacion" type="xsd:string" />
          <xsd:element name="aplicacion" type="xsd:string" />
          <xsd:element name="usrAplicacion" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="audiTypeResponse">
        <xsd:sequence>
          <xsd:element name="idTransaccion" type="xsd:string" />
          <xsd:element name="codigoRespuesta" type="xsd:string" />
          <xsd:element name="mensajeRespuesta" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="consultaIMRRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="tns:audiTypeRequest" />
            <xsd:element name="msisdn" type="xsd:string" />
            <xsd:element name="customerId" type="xsd:string" />
            <xsd:element name="cuenta" type="xsd:string" />
            <xsd:element name="cicloFacturacion" type="xsd:int" />
            <xsd:element name="tipoProducto" type="xsd:string" />
            <xsd:element name="tipoCliente" type="xsd:string" />
            <xsd:element name="segmento" type="xsd:string" />
            <xsd:element name="co_id" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaIMRResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="tns:audiTypeResponse" />
            <xsd:element name="montoIMRTotal" type="xsd:string" />
            <xsd:element name="montoIMR" type="xsd:string" />
            <xsd:element name="fechaExpiracion" type="xsd:date" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="consultaIMRRequestMsg">
    <part name="parameters" element="tns:consultaIMRRequest" />
  </message>
  <message name="consultaIMRResponseMsg">
    <part name="parameters" element="tns:consultaIMRResponse" />
  </message>
  <portType name="ebsConsultaIMRPortType">
    <operation name="consultaIMR">
      <input message="tns:consultaIMRRequestMsg" />
      <output message="tns:consultaIMRResponseMsg" />
    </operation>
  </portType>
  <binding name="ebsConsultaIMRPortTypeSOAP11Binding" type="tns:ebsConsultaIMRPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="consultaIMR">
      <soap:operation soapAction="http://claro.com.pe/eai/ebs/ws/ConsultaIMR/ConsultaIMR" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ebsConsultaIMRPortTypeSOAP12Binding" type="tns:ebsConsultaIMRPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="consultaIMR">
      <soap12:operation soapAction="http://claro.com.pe/eai/ebs/ws/ConsultaIMR/ConsultaIMR" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ebsConsultaIMRService">
    <port name="ebsConsultaIMRSB11" binding="tns:ebsConsultaIMRPortTypeSOAP11Binding">
      <soap:address location="http://172.19.74.68:8909/ConsultaIMR/ebsConsultaIMRSB11" />
    </port>
    <port name="ebsConsultaIMRSB12" binding="tns:ebsConsultaIMRPortTypeSOAP12Binding">
      <soap12:address location="http://172.19.74.68:8909/ConsultaIMR/ebsConsultaIMRSB12" />
    </port>
  </service>
</definitions>